script(type='text/ng-template', id='partials/options.social.hall.html')
  ul.options-submenu
    li(ng-class="{ active: $state.includes('options.social.hall.heroes') }")
      a(ui-sref='options.social.hall.heroes')
        =env.t('hallContributors')
    li(ng-class="{ active: $state.includes('options.social.hall.patrons') }")
      a(ui-sref='options.social.hall.patrons')
        =env.t('hallPatrons')

  .options-blurbmenu
    small.muted(ng-if="$state.includes('options.social.hall.heroes')")!=env.t('blurbHallContributors')
    small.muted(ng-if="$state.includes('options.social.hall.patrons')")=env.t('blurbHallPatrons')

  .tab-content
    .tab-pane.active
      div(ui-view)

script(type='text/ng-template', id='partials/options.social.hall.heroes.html')
  .well(ng-if='user.contributor.admin')
    h2=env.t('rewardUser')
    form(ng-submit='loadHero(_heroID)')
      .form-group
        input.form-control(type='text', ng-model='_heroID', placeholder=env.t('UUID'))
      .form-group
        input.btn.btn-default(type='submit')=env.t('loadUser')
    form(ng-show='hero', ng-submit='saveHero(hero)')
      a(ng-click='clickMember(hero._id, true)')
        h3 {{hero.profile.name}}
      .form-group
        input.form-control(type='text', ng-model='hero.contributor.text', placeholder=env.t('contribTitle'))
      .form-group
        label=env.t('contribLevel')
        input.form-control(type='number', ng-model='hero.contributor.level')
        small=env.t('contribHallText')
        |&nbsp;
        a(target='_blank', href='https://trello.com/c/wkFzONhE/277-contributor-gear')=env.t('moreDetails')
        |,&nbsp;
        a(target='_blank', href='https://github.com/HabitRPG/habitrpg/issues/3801')=env.t('moreDetails2')
      .form-group
        textarea.form-control(cols=5, placeholder=env.t('contributions'), ng-model='hero.contributor.contributions')
        include ../../shared/formatting-help
      hr

      .form-group
        label=env.t('balance')
        input.form-control(type='number', step="any", ng-model='hero.balance')
        small!= '`user.balance`' + env.t('notGems')
      accordion
        accordion-group(heading='Items')
          h4 Update Item
          .form-group.well
            input.form-control(type='text',placeholder='Path (eg, items.pets.BearCub-Base)',ng-model='hero.itemPath')
            small.muted Enter the <strong>item path</strong>. E.g., <code>items.pets.BearCub-Zombie</code> or <code>items.gear.owned.head_special_0</code> or <code>items.gear.equipped.head</code>. <a href='/api/v3/content' target='_blank'>See all paths here.</a> When in doubt, ask Tyler.
            br
            input.form-control(type='text',placeholder='Value (eg, 5)',ng-model='hero.itemVal')
            small.muted Enter the <strong>item value</strong>. E.g., <code>5</code> or <code>false</code> or <code>head_warrior_3</code> (respectively from above examples).
          h4 Current Items
          pre {{::toJson(hero.items,true)}}
        accordion-group(heading='Auth')
          h4 Auth
          pre {{::toJson(hero.auth)}}
          .form-group
            .checkbox
              label
                input(type='checkbox', ng-model='hero.flags.chatRevoked')
                | Chat Privileges Revoked
          .form-group
            .checkbox
              label
                input(type='checkbox', ng-model='hero.auth.blocked')
                | Blocked

      // h4 Backer Status
      // Add backer stuff like tier, disable adds, etcs
      .form-group
        input.form-control.btn.btn-primary(type='submit')=env.t('save')

  .table-responsive
    table.table.table-striped
      thead
        tr
          th=env.t('name')
          th(ng-if='user.contributor.admin')=env.t('UUID')
          th=env.t('contribLevel')
          th=env.t('title')
          th=env.t('contributions')
      tbody
        tr(ng-repeat='hero in heroes')
          td
            span(ng-if='hero.contributor.admin',popover=env.t('gamemaster'),popover-trigger='mouseenter',popover-placement='right')
              a.label.label-default(ng-class='userLevelStyle(hero)', ng-click='clickMember(hero._id, true)')
                | {{hero.profile.name}}&nbsp;
                span(ng-class='userAdminGlyphiconStyle(hero)')
            span(ng-if='!hero.contributor.admin')
              a.label.label-default(ng-class='userLevelStyle(hero)', ng-click='clickMember(hero._id, true)') {{hero.profile.name}}
          td(ng-if='user.contributor.admin', ng-click='populateContributorInput(hero._id, $index)').btn-link {{hero._id}}
          td {{hero.contributor.level}}
          td {{hero.contributor.text}}
          td
            markdown(text='hero.contributor.contributions', target='_blank')

script(type='text/ng-template', id='partials/options.social.hall.patrons.html')
  .table-responsive
    table.table.table-striped(infinite-scroll="loadMore()")
      thead
        tr
          th=env.t('name')
          th(ng-if='user.contributor.admin')=env.t('UUID')
          th=env.t('backerTier')
      tbody
        tr(ng-repeat='patron in patrons')
          td
            a.label.label-default(ng-class='userLevelStyle(patron)', ng-click='clickMember(patron._id, true)') {{patron.profile.name}}
          td(ng-if='user.contributor.admin') {{patron._id}}
          td {{patron.backer.tier}}
