// FIXME note, due to https://github.com/angular-ui/bootstrap/issues/783 we can't use nested angular-bootstrap tabs
// Subscribe to that ticket & change this when they fix

include ./challenges
include ./hall
include ./boss
include ./chat-message

script(type='text/ng-template', id='partials/options.social.inbox.html')
  .container-fluid
    .row
      .col-md-12
        .form-inline
          a.btn.btn-xs.btn-danger(ng-click='deleteAllMessages()')=env.t('clearAll')
          | &nbsp; &nbsp; &nbsp;
          .checkbox
            label
              input(type='checkbox', ng-model='user.inbox.optOut', ng-change='set({"inbox.optOut": user.inbox.optOut?true: false})')
              | &nbsp;
              span.hint(popover-trigger='mouseenter', popover-placement='right', popover=env.t('optOutPopover'))=env.t('optOut')
        +chatMessages('inbox')

script(type='text/ng-template', id='partials/options.social.tavern.html')
  include ./tavern

script(type='text/ng-template', id='partials/options.social.party.html')
  div(ng-if='group._id')
    include ./group
  div(ng-if='!group._id')
    div(ng-show='user.invitations.party.id').container-fluid
      h2=env.t('invitedTo', {name: '{{user.invitations.party.name}}'})
      a.btn.btn-success(data-type='party', ng-click='join(user.invitations.party)')=env.t('accept')
      a.btn.btn-danger(ng-click='reject()')=env.t('reject')
    div(ng-hide='user.invitations.party.id').container-fluid
      h2=env.t('createAParty')
      p
        =env.t('noPartyText')
      pre.prettyprint.
        {{user.id}}
      p!=env.t('LFG', {linkStart: "<a href='https://habitrpg.com/#/options/groups/guilds/f2db2a7f-13c5-454d-b3ee-ea1f5089e601'>", linkEnd: "</a>"})
      include ./create-group

script(type='text/ng-template', id='partials/options.social.guilds.public.html')
  div.col-xs-12(ng-repeat='invitation in user.invitations.guilds' style='margin-bottom: 1.5em')
    h3=env.t('invitedTo', {name: '{{invitation.name}}'})
    a.btn.btn-success(data-type='guild', ng-click='join(invitation)')=env.t('accept')
    a.btn.btn-danger(ng-click='reject(invitation)')=env.t('reject')
  // Public Groups
  div.container-fluid(style='margin-bottom: 1.5em')
    input.form-control(type='text',ng-model='guildSearch', placeholder=env.t('search'))
  table.table.table-striped(style='clear:left;')
    tr(ng-repeat='group in groups.public | filter:guildSearch track by group._id')
      td
        ul.pull-right.challenge-accordion-header-specs
          li='{{::group.memberCount}} ' + env.t('members')
          // join / leave
          li.bg-transparent
            a.btn.btn-sm.btn-danger(ng-if="::group._isMember", ng-click='clickLeave(group, $event)')
              span.glyphicon.glyphicon-ban-circle
              =env.t('leave')
            a.btn.btn-sm.btn-success(ng-if="::!group._isMember", ng-click='join(group)')
              span.glyphicon.glyphicon-ok
              =env.t('join')
        h4 {{::group.name}}
        p {{::group.description}}

script(type='text/ng-template', id='partials/options.social.guilds.detail.html')
  include ./group

script(type='text/ng-template', id='partials/options.social.guilds.create.html')
  div.col-xs-12
    include ./create-group

script(type='text/ng-template', id='partials/options.social.guilds.html')
  ul.options-submenu
    li(ng-class="{ active: $state.includes('options.social.guilds.public') }")
      a(ui-sref='options.social.guilds.public')
        =env.t('publicGuilds')
    li(ng-class="{ active: $stateParams.gid == group._id }", ng-repeat='group in groups.guilds track by group._id')
      a(ui-sref="options.social.guilds.detail({gid:group._id})")
        | {{group.name}}
    li(ng-class="{ active: $state.includes('options.social.guilds.create') }")
      a(ui-sref='options.social.guilds.create')
        =env.t('createGuild')

  .tab-content
    .tab-pane.active
      div(ui-view)

script(type='text/ng-template', id='partials/options.social.html')
  ul.options-menu
    li(ng-class="{ active: $state.includes('options.social.inbox') }")
      a(ui-sref='options.social.inbox')
        span.badge.badge-danger(ng-if='user.inbox.newMessages') {{user.inbox.newMessages}}
        | &nbsp;
        =env.t("inbox")
    li(ng-class="{ active: $state.includes('options.social.tavern') }")
      a(ui-sref='options.social.tavern')
        =env.t('tavern')
    li(ng-class="{ active: $state.includes('options.social.party') }")
      a(ui-sref='options.social.party')
        =env.t('party')
    li(ng-class="{ active: $state.includes('options.social.guilds') }")
      a(ui-sref='options.social.guilds.public')
        =env.t('guilds')
    li(ng-class="{ active: $state.includes('options.social.challenges') }")
      a(ui-sref='options.social.challenges', ui-sref-opts='{reload: true}')
        =env.t('challenges')
    li(ng-class="{ active: $state.includes('options.social.hall') }")
      a(ui-sref='options.social.hall.heroes')
        =env.t('hall')

  .tab-content
    .tab-pane.active
      div(ui-view)
