if tavern
  div(class="quest_{{group.quest.key}} quest_{{group.quest.key}}_#{env.worldDmg.recent}")
else
  div(class="quest_{{::group.quest.key}}")

.hero-stats
  h4 {{::Content.quests[group.quest.key].boss.name()}}
  .meter-label(tooltip=env.t('bossHP'))
    span.glyphicon.glyphicon-heart
  .meter.health
    .bar(ng-style='{width: Shared.percent(group.quest.progress.hp, Content.quests[group.quest.key].boss.hp) + "%"}')
    span.meter-text.value
      | {{Math.ceil(group.quest.progress.hp) | roundLargeNumbers}}
      | &nbsp;/ {{::Content.quests[group.quest.key].boss.hp | roundLargeNumbers}}
  div(ng-if='Content.quests[group.quest.key].boss.rage')
    .meter-label(tooltip=env.t('rage'))
      span.glyphicon.glyphicon-fire
    .meter.mana(popover="{{::Content.quests[group.quest.key].boss.rage.description()}}",
      popover-title="{{::Content.quests[group.quest.key].boss.rage.title()}}",
      popover-trigger='mouseenter', popover-placement='bottom')
      .bar(ng-style='{width: Shared.percent(group.quest.progress.rage, Content.quests[group.quest.key].boss.rage.value) + "%"}')
      span.meter-text.value
        | {{Math.ceil(group.quest.progress.rage)  | roundLargeNumbers}}
        | &nbsp;/ {{::Content.quests[group.quest.key].boss.rage.value | roundLargeNumbers}}
