div(class="#{env.worldDmg.quests ? 'npc_ian_broken' : 'npc_ian'}").pull-left

div(ng-if='::Content.quests[group.quest.key].boss')
  if tavern
    p(ng-if='!env.worldDmg.quests')!=env.t('tavernBossInfo')
    p(ng-if='env.worldDmg.quests')!=env.t('tavernBossInfoBroken')
  else
    p(ng-if='!env.worldDmg.quests')!=env.t('bossDmg1')
    p(ng-if='env.worldDmg.quests')!=env.t('bossDmg1Broken')
    br
    p(ng-if='!env.worldDmg.quests')=env.t('bossDmg2')
    p(ng-if='env.worldDmg.quests')=env.t('bossDmg2Broken')

div(ng-if='::Content.quests[group.quest.key].collect')
  p(ng-if='!env.worldDmg.quests')=env.t('bossColl1')
  p(ng-if='env.worldDmg.quests')=env.t('bossColl1Broken')
  br
  p(ng-if='!env.worldDmg.quests')=env.t('bossColl2')
  p(ng-if='env.worldDmg.quests')=env.t('bossColl2Broken')
