div(ng-if='::task.type!="reward"')
  button.advanced-options-toggle.option-title.mega(type='button',
    ng-class='{active: task._edit._advanced}',
    ng-click='task._edit._advanced = !task._edit._advanced', tooltip=env.t('expandCollapse'))
    =env.t('advancedOptions')

  fieldset.option-group.advanced-option(ng-if="task.userId" ng-show="task._edit._advanced")
    legend.option-title
      a.hint(href='http://habitica.wikia.com/wiki/Task_Alias', target='_blank', popover-trigger='mouseenter', popover="{{::env.t('taskAliasPopover')}} {{::task._edit.alias ? '\n\n\' + env.t('taskAliasPopoverWarning') : ''}}")=env.t('taskAlias')
    input.form-control(ng-model='task._edit.alias' type='text' placeholder=env.t('taskAliasPlaceholder'))

  fieldset.option-group.advanced-option(ng-show="task._edit._advanced")
    group-tasks-actions(ng-if="obj.type == 'guild'", task='task', group='obj')

  div(ng-show='task._edit._advanced')
    div(ng-if='::task.type == "daily"')
      .form-group
        legend.option-title
          span.hint(popover-title=env.t('startDateHelpTitle'), popover=env.t("startDateHelp"), popover-trigger='mouseenter')
            =env.t('startDate')

        input.form-control(type='text', ng-model='task._edit.startDate',
          datepicker-popup='{{::user.preferences.dateFormat}}', is-open='datepickerOpened',
          ng-click='datepickerOpened = true', ng-disabled='!canEdit(task)')

      hr

      .form-group
        legend.option-title=env.t('repeat')
        select.form-control(ng-model='task._edit.frequency', ng-disabled='!canEdit(task)')
          option(value='weekly')=env.t('repeatWeek')
          option(value='daily')=env.t('repeatDays')

      include ./dailies/repeat_options

      hr

  fieldset.option-group.advanced-option(ng-show="task._edit._advanced")

    legend.option-title
      a.hint.priority-multiplier-help(href='http://habitica.wikia.com/wiki/Difficulty', target='_blank', popover-title=env.t('difficultyHelpTitle'), popover-trigger='mouseenter', popover=env.t('difficultyHelpContent'))=env.t('difficulty')
    ul.priority-multiplier
      li
        button(type='button', ng-class='{active: task._edit.priority==0.1}',
          ng-click='!canEdit(task) || (task._edit.priority=0.1)')
          =env.t('trivial')
      li
        button(type='button', ng-class='{active: task._edit.priority==1 || !task._edit.priority}',
          ng-click='!canEdit(task) || (task._edit.priority=1)')
          =env.t('easy')
      li
        button(type='button', ng-class='{active: task._edit.priority==1.5}',
          ng-click='!canEdit(task) || (task._edit.priority=1.5)')
          =env.t('medium')
      li
        button(type='button', ng-class='{active: task._edit.priority==2}',
          ng-click='!canEdit(task) || (task._edit.priority=2)')
          =env.t('hard')

    span(ng-if='task.type=="daily" && !$state.includes("options.social.challenges")')
      legend.option-title.pull-left=env.t('restoreStreak')
      input.option-content(type='number', ng-model='task._edit.streak')

    div(ng-if='::(user.preferences.allocationMode == "taskbased" && user.preferences.automaticAllocation) || $state.is("options.social.challenges")')
      legend.option-title.pull-left=env.t('attributes')
      ul.task-attributes
        each attribute, short in {str: 'strength', int: 'intelligence', con: 'constitution', per: 'perception'}
          li
            button(type='button', ng-class='{active: task._edit.attribute=="#{short}"}',
              ng-click='task._edit.attribute="#{short}"',
              popover=env.t('#{attribute}Example'), popover-trigger='mouseenter', popover-placement='top')
              =env.t(attribute)
