+achievWithSingularPlural('profile.achievements.streak', 'achievement-thermometer',
  'streakSingular', 'streakSingularText', 'streakName', 'streakText')

+achievWithSingularPlural('profile.achievements.perfect', 'achievement-perfect',
  'perfectSingular', 'perfectSingularText', 'perfectName', 'perfectText')

+achiev('profile.achievements.partyUp', 'achievement-partyUp')
  h5=env.t('partyUpName')
  small=env.t('partyUpAchievement')

+achiev('profile.achievements.partyOn', 'achievement-partyOn')
  h5=env.t('partyOnName')
  small=env.t('partyOnAchievement')

+achiev('profile.achievements.beastMaster', 'achievement-rat')
  h5=env.t('beastMasterName')
  small=env.t('beastMasterText')
  small(ng-if='::profile.achievements.beastMasterCount')
    =env.t('beastMasterText2', {count: "{{::profile.achievements.beastMasterCount}}"})

+achiev('profile.achievements.mountMaster', 'achievement-wolf')
  h5=env.t('mountMasterName')
  small=env.t('mountMasterText')
  small(ng-if='::profile.achievements.mountMasterCount')
    =env.t('mountMasterText2', {count: "{{::profile.achievements.mountMasterCount}}"})

+achiev('profile.achievements.triadBingo', 'achievement-triadbingo')
  h5=env.t('triadBingoName')
  small=env.t('triadBingoText')
  small(ng-if='::profile.achievements.triadBingoCount')
    =env.t('triadBingoText2', {count: "{{::profile.achievements.triadBingoCount}}"})

each ultClass in ['healer', 'rogue', 'warrior']
  +achiev('profile.achievements.ultimateGearSets.' + ultClass, 'achievement-ultimate-' + ultClass)
    h5=env.t('ultimGearName', {ultClass: env.t(ultClass)})
    small=env.t(ultClass + 'UltimGearText')

+achiev('profile.achievements.ultimateGearSets.wizard', 'achievement-ultimate-mage')
  h5=env.t('ultimGearName', {ultClass: env.t('mage')})
  small=env.t('mageUltimGearText')

+achiev('profile.achievements.rebirths', 'achievement-sun')
  h5(ng-if='::!(profile.achievements.rebirths > 1)')
    =env.t('rebirthBegan')
  h5(ng-if='::profile.achievements.rebirths > 1')
    =env.t('rebirthText', {rebirths: "{{::profile.achievements.rebirths}}"})
  small(ng-if='::!profile.achievements.rebirthLevel')
    =env.t('rebirthOrbNoLevel')
  small(ng-if='::profile.achievements.rebirthLevel < 100')
    =env.t('rebirthOrb', {level: "{{::profile.achievements.rebirthLevel}}"})
  small(ng-if='::profile.achievements.rebirthLevel >= 100')
    =env.t('rebirthOrb100')
