+achiev('profile.achievements.habiticaDays', 'achievement-habiticaDay')
  h5=env.t('habiticaDay')
  small(ng-if='::!(profile.achievements.habiticaDays > 1)')
    =env.t('habiticaDaySingularText')
  small(ng-if='::profile.achievements.habiticaDays > 1')
    =env.t('habiticaDayPluralText', {number: "{{::profile.achievements.habiticaDays}}"})

+achiev('profile.achievements.habitBirthdays', 'achievement-habitBirthday')
  h5=env.t('habitBirthday')
  small(ng-if='::!(profile.achievements.habitBirthdays > 1)')
    =env.t('habitBirthdayText')
  small(ng-if='::profile.achievements.habitBirthdays > 1')
    =env.t('habitBirthdayPluralText', {number: "{{::profile.achievements.habitBirthdays}}"})

+achiev('profile.achievements.snowball', 'achievement-snowball')
  h5=env.t('annoyingFriends')
  small(ng-if='::!profile.achievements.snowball')
    =env.t('annoyingFriendsText', {snowballs: "0"})
  small(ng-if='::profile.achievements.snowball')
    =env.t('annoyingFriendsText', {snowballs: "{{::profile.achievements.snowball}}"})

+achiev('profile.achievements.spookySparkles', 'achievement-spookySparkles')
  h5=env.t('alarmingFriends')
  small(ng-if='::!profile.achievements.spookySparkles')
    =env.t('alarmingFriendsText', {spookySparkles: "0"})
  small(ng-if='::profile.achievements.spookySparkles')
    =env.t('alarmingFriendsText', {spookySparkles: "{{::profile.achievements.spookySparkles}}"})

+achiev('profile.achievements.shinySeed', 'achievement-shinySeed')
  h5=env.t('agriculturalFriends')
  small(ng-if='::!profile.achievements.shinySeed')
    =env.t('agriculturalFriendsText', {seeds: "0"})
  small(ng-if='::profile.achievements.shinySeed')
    =env.t('agriculturalFriendsText', {seeds: "{{::profile.achievements.shinySeed}}"})

+achiev('profile.achievements.seafoam', 'achievement-seafoam')
  h5=env.t('aquaticFriends')
  small(ng-if='::!profile.achievements.seafoam')
    =env.t('aquaticFriendsText', {seafoam: "0"})
  small(ng-if='::profile.achievements.seafoam')
    =env.t('aquaticFriendsText', {seafoam: "{{::profile.achievements.seafoam}}"})

+achiev('profile.achievements.quests.dilatory', 'achievement-dilatory')
  h5=env.t('achievementDilatory')
  small
    =env.t('achievementDilatoryText')

+achiev('profile.achievements.quests.stressbeast', 'achievement-stoikalm')
  h5=env.t('achievementStressbeast')
  small
    =env.t('achievementStressbeastText')

+achiev('profile.achievements.quests.burnout', 'achievement-burnout')
  h5=env.t('achievementBurnout')
  small
    =env.t('achievementBurnoutText')

+achiev('profile.achievements.quests.bewilder', 'achievement-bewilder')
  h5=env.t('achievementBewilder')
  small
    =env.t('achievementBewilderText')

+achiev('profile.achievements.costumeContests', 'achievement-costumeContest')
  h5=env.t('costumeContest')
  small(ng-if='::!(profile.achievements.costumeContests > 1)')
    !=env.t('costumeContestText')
  small(ng-if='::profile.achievements.costumeContests > 1')
    !=env.t('costumeContestTextPlural', {number: "{{::profile.achievements.costumeContests}}"})

each card in ['greeting', 'thankyou', 'nye', 'valentine', 'birthday']
  +achiev('profile.achievements.' + card, 'achievement-' + card)
    h5=env.t(card + 'CardAchievementTitle')
    small(ng-if='::!profile.achievements.#{card}')
      =env.t(card + 'CardAchievementText', {cards: "0"})
    small(ng-if='::profile.achievements.#{card}')
      =env.t(card + 'CardAchievementText', {cards: "{{::profile.achievements." + card + "}}"})
