.task-meta-controls

  // Counter
  span(ng-if='task.up && task.down')
    span(tooltip=env.t('habitCounterUp')) +{{task.counterUp}}|
    span(tooltip=env.t('habitCounterDown')) -{{task.counterDown}}&nbsp;

  span(ng-if='task.type=="habit" && (!task.up || !task.down)')
    span(tooltip=env.t('habitCounter')) {{task.up ? task.counterUp : task.counterDown}}&nbsp;

  // Due Date
  span(ng-if='task.type=="todo" && task.date')
    span(ng-class='{"label label-danger":(moment(task.date).isBefore(_today, "days") && !task.completed)}') {{task.date | date:(user.preferences.dateFormat.indexOf('yyyy') == 0 ? user.preferences.dateFormat.substr(5) : user.preferences.dateFormat.substr(0,5))}}

  // Approval requested
  | &nbsp;
  span(ng-show='task.group.approval.requested && !task.group.approval.approved')
    span(tooltip=env.t('approvalRequested'))
      span=env.t('approvalRequested')
      | &nbsp;

  // Streak
  | &nbsp;
  span(ng-show='task.streak') {{task.streak}}&nbsp;
    span(tooltip=env.t('streakCounter'))
      span.glyphicon.glyphicon-forward
      | &nbsp;

  // Icons only available if you own the tasks (aka, hidden from challenge stats)
  span(ng-if='!obj._locked')
    group-task-meta-actions(ng-if="!obj.auth && obj.purchased && obj.purchased.active", task='task', group='obj')

    a(ng-click='pushTask(task,$index,"top")', tooltip=env.t('pushTaskToTop'), ng-class="{'push-down': ctrlPressed}")
      span(ng-hide="ctrlPressed").glyphicon.glyphicon-open
      span(ng-show="ctrlPressed").glyphicon.glyphicon-save
    // a(ng-click='pushTask(task,$index,"bottom")', tooltip=env.t('pushTaskToBottom'))
    //   span.glyphicon.glyphicon-import
    //   // glyphicon-import or glyphicon-save or glyphicon-sort-by-attributes
    a.badge(ng-if='task.checklist[0]', ng-class='{"badge-success":checklistCompletion(task.checklist) == task.checklist.length}', ng-click='collapseChecklist(task)', tooltip=env.t('expandCollapse'))
      |{{checklistCompletion(task.checklist)}}/{{task.checklist.length}}
    span.glyphicon.glyphicon-tags(tooltip='{{Shared.appliedTags(user.tags, task.tags)}}', ng-hide='Shared.noTags(task.tags)')

    // edit
    a(ng-hide='checkGroupAccess && !checkGroupAccess(obj)', ng-click='editTask(task, user, Shared.taskClasses(task, user.filters, user.preferences.dayStart, user.lastCron, list.showCompleted, main))', tooltip=env.t('edit'))
      | &nbsp;
      span.glyphicon.glyphicon-pencil
    | &nbsp;

    //challenges
    span(ng-if='task.challenge.id')
      span(ng-if='task.challenge.broken')
        a.glyphicon.glyphicon-bullhorn(style='background-color:red;', ng-click='editTask(task, user, Shared.taskClasses(task, user.filters, user.preferences.dayStart, user.lastCron, list.showCompleted, main))', tooltip=env.t('brokenChaLink') tooltip-placement='right')
        | &nbsp;
      span(ng-if='!task.challenge.broken')
        span.glyphicon.glyphicon-bullhorn(tooltip=env.t('challenge'))
        | &nbsp;

    // delete
    a(ng-if='!task.challenge.id || (obj.leader && obj.leader.id === user._id)', ng-hide="(checkGroupAccess && !checkGroupAccess(obj))" ng-click='removeTask(task, obj)', tooltip=env.t('delete'))
      span.glyphicon.glyphicon-trash
      | &nbsp;

    // chart
    a(ng-show='task.history', ng-click='toggleChart(obj._id+task._id, task)', tooltip=env.t('progress'))
      span.glyphicon.glyphicon-signal
      | &nbsp;
    // notes

  // Make this icon available regardless of task ownership
  a.task-notes(ng-show='task.notes && !task._editing', ng-click='showNoteDetails(task);', popover-trigger='click', data-popover-html="{{task.notes | markdown}}", popover-placement="top", popover-append-to-body='{{::modal ? "false":"true"}}')
    span.glyphicon.glyphicon-comment
    | &nbsp;
