div(ng-if='list.help', ng-switch='::list.type')
  ul(ng-switch-when='habit')
    li!=env.t('habitHelp1', {plusIcon:"<span class='glyphicon glyphicon-plus'></span>"})
    li!=env.t('habitHelp2', {minusIcon:"<span class='glyphicon glyphicon-minus'></span>"})
    li!=env.t('habitHelp3')
    li!=env.t('newbieGuild', {linkStart:"<a href='https://habitica.com/#/options/groups/guilds/5481ccf3-5d2d-48a9-a871-70a7380cee5a' target='_blank'>", linkEnd: "</a>"})
  ul(ng-switch-when='daily')
    li!=env.t('dailyHelp1', {emphasisStart:"<strong>", emphasisEnd:"</strong>", pencilIcon:"<span class='glyphicon glyphicon-pencil'></span>"})
    li=env.t('dailyHelp2')
    li!=env.t('dailyHelp3', {emphasisStart:"<strong>", emphasisEnd:"</strong>"})
    li!=env.t('dailyHelp4', {linkStart:"<a href='/#/options/settings/settings' target='_blank'>", linkEnd:"</a>"})
    li!=env.t('dailyHelp5')
    li!=env.t('newbieGuild', {linkStart:"<a href='https://habitica.com/#/options/groups/guilds/5481ccf3-5d2d-48a9-a871-70a7380cee5a' target='_blank'>", linkEnd: "</a>"})
  ul(ng-switch-when='todo')
    li=env.t('toDoHelp1')
    li=env.t('toDoHelp2')
    li=env.t('toDoHelp3')
    li!=env.t('toDoHelp4')
    li!=env.t('newbieGuild', {linkStart:"<a href='https://habitica.com/#/options/groups/guilds/5481ccf3-5d2d-48a9-a871-70a7380cee5a' target='_blank'>", linkEnd: "</a>"})
  ul(ng-switch-when='reward')
    li!=env.t('rewardHelp1', {linkStart:"<a href='/#/options/inventory/equipment' target='_blank'>", linkEnd: "</a>"})
    li!=env.t('rewardHelp2', {linkStart:"<a href='/#/options/profile/stats' target='_blank'>", linkEnd: "</a>"})
    li=env.t('rewardHelp3')
    li!=env.t('rewardHelp4')
    li!=env.t('newbieGuild', {linkStart:"<a href='https://habitica.com/#/options/groups/guilds/5481ccf3-5d2d-48a9-a871-70a7380cee5a' target='_blank'>", linkEnd: "</a>"})
