mixin taskColumnTabs(position)
  // Habits Tabs
  div(ng-if='::main && list.type=="habit"', class='tabbable tabs-below')
    ul.task-filter
      li(ng-class='{active: list.view == "all"}')
        a(ng-click='list.view = "all"')=env.t('all')
      li(ng-class='{active: list.view == "yellowred"}')
        a(ng-click='list.view = "yellowred"')=env.t('yellowred')
      li(ng-class='{active: list.view == "greenblue"}')
        a(ng-click='list.view = "greenblue"')=env.t('greenblue')
  // Daily Tabs
  div(ng-if='::main && list.type=="daily"', class='tabbable tabs-below')
    // remaining/completed tabs
    ul.task-filter
      li(ng-class='{active: list.view == "all"}')
        a(ng-click='list.view = "all"')=env.t('all')
      li(ng-class='{active: list.view == "remaining"}')
        a(ng-click='list.view = "remaining"')=env.t('due')
      li(ng-class='{active: list.view == "complete"}')
        a(ng-click='list.view = "complete"')=env.t('grey')
  // Todo Tabs
  div(ng-if='::main && list.type=="todo"', ng-class='::{"tabbable tabs-below": list.type=="todo"}')
    if position=="bottom"
      div(ng-show='list.view == "complete"')
        .alert
          =env.t('lotOfToDos')
        button.task-action-btn.tile.spacious.bright(ng-click='clearDoneTodos()',popover=env.t('deleteToDosExplanation'),popover-trigger='mouseenter')=env.t('clearCompleted')
    // remaining/completed tabs
    ul.task-filter
      li(ng-class='{active: list.view == "remaining"}')
        a(ng-click='list.view = "remaining"')=env.t('remaining')
      li(ng-class='{active: list.view == "dated"}')
        a(ng-click='list.view = "dated"')=env.t('dated')
      li#completedTasksButton(ng-class='{active: list.view == "complete"}')
        a(ng-click='list.view = "complete";loadedCompletedTodos()')=env.t('complete')
  // Rewards Tabs
  div(ng-if='::main && list.type=="reward"', class='tabbable tabs-below')
    ul.task-filter
      li(ng-class='{active: list.view == "all"}')
        a(ng-click='list.view = "all"')=env.t('all')
      li(ng-class='{active: list.view == "ingamerewards"}')
        a(ng-click='list.view = "ingamerewards"')=env.t('ingamerewards')

mixin specialSkill(k,canceler)
  li.task.reward-item(ng-if='#{canceler ? "user.stats.buffs."+canceler : "user.items.special."+k+">0"}',popover-trigger='mouseenter', popover-placement='top', popover='{{Content.spells.special.#{k}.notes()}}')
    .task-meta-controls
      span.task-notes
        span.glyphicon.glyphicon-comment
    //left-hand size commands
    .task-controls.task-primary
      a.money.btn-buy.item-btn(ng-click='castStart(Content.spells.special.#{k})', ng-class='{active: Content.spells.special.#{k}.key == spell.key}')
        if canceler
          span.shop_gold
          span.reward-cost {{Content.spells.special.#{k}.value}}
        else
          span.shop_spell(class='shop_#{k}')
          span.reward-cost {{user.items.special.#{k}}}
    // main content
    p.task-text {{Content.spells.special.#{k}.text()}}
