// Streak
script(id='modals/achievements/streak.html', type='text/ng-template')
  .modal-header
    h4=env.t('modalAchievement')
  .modal-body
    .achievement.achievement-thermometer
    =env.t('streakerAchievement')
  .modal-footer
    button.btn.btn-default(ng-click='$close()')=env.t('ok')

// Max Gear
script(id='modals/achievements/ultimateGear.html', type='text/ng-template')
  .modal-header
    h4=env.t('modalAchievement')
  .modal-body
    .achievement.achievement-armor
    p=env.t('gearAchievement')
    br
    table.multi-achievement
      tr
        td(ng-if='::user.achievements.ultimateGearSets.healer').multi-achievement
          .achievement-ultimate-healer.multi-achievement
          =env.t('healer')
        td(ng-if='::user.achievements.ultimateGearSets.wizard').multi-achievement
          .achievement-ultimate-mage.multi-achievement
          =env.t('mage')
        td(ng-if='::user.achievements.ultimateGearSets.rogue').multi-achievement
          .achievement-ultimate-rogue.multi-achievement
          =env.t('rogue')
        td(ng-if='::user.achievements.ultimateGearSets.warrior').multi-achievement
          .achievement-ultimate-warrior.multi-achievement
          =env.t('warrior')
    br
    p(ng-if='!(user.achievements.ultimateGearSets.healer && user.achievements.ultimateGearSets.wizard && user.achievements.ultimateGearSets.rogue && user.achievements.ultimateGearSets.warrior)')!=env.t('moreGearAchievements')
    br
    .shop_armoire.pull-right
    p!=env.t("armoireUnlocked")
  .modal-footer
    button.btn.btn-default(ng-click='$close()')=env.t('ok')

// Beast Master
script(id='modals/achievements/beastMaster.html', type='text/ng-template')
  .modal-header
    h4=env.t('modalAchievement')
  .modal-body
    p
      .achievement.achievement-rat
      =env.t('beastAchievement')
  .modal-footer
    button.btn.btn-default(ng-click='$close()')=env.t('ok')


// Mount Master
script(id='modals/achievements/mountMaster.html', type='text/ng-template')
  .modal-header
    h4=env.t('modalAchievement')
  .modal-body
    p
      .achievement.achievement-wolf
      =env.t('mountAchievement')
  .modal-footer
    button.btn.btn-default(ng-click='$close()')=env.t('ok')

// Triad Bingo
script(id='modals/achievements/triadBingo.html', type='text/ng-template')
  .modal-header
    h4=env.t('modalAchievement')
  .modal-body
    p
      .achievement.achievement-triadbingo
      =env.t('triadBingoAchievement')
  .modal-footer
    button.btn.btn-default(ng-click='$close()')=env.t('ok')

// Contributor
// activated by user.flags.contributor
script(id='modals/achievements/contributor.html', type='text/ng-template')
  .modal-header
    h4=env.t('modalContribAchievement')
  .modal-body
    div(class="#{env.worldDmg.guide ? 'npc_justin_broken.float-left' : 'npc_justin.float-left'}")
    p
      !=env.t('contribModal', {name: "{{user.profile.name}}", level: "{{user.contributor.level}}"}) + ' '
      a(href='http://habitica.wikia.com/wiki/Contributor_Rewards' target='_blank')=env.t('contribLink')
  .modal-footer
    button.btn.btn-default(ng-click='set({"flags.contributor":false}); $close()')=env.t('ok')

//Rebirth
script(id='modals/achievements/rebirth.html', type='text/ng-template')
  .modal-header
    h4=env.t('modalAchievement')
  .modal-body
    .achievement.achievement-sun
    =env.t('rebirthAchievement', {number: "{{user.achievements.rebirths}}", level: "{{user.achievements.rebirthLevel}}"})
  .modal-footer
    button.btn.btn-default(ng-click='$close()')=env.t('ok')
