script(type='text/ng-template', id='modals/dropsEnabled.html')
  .modal-header
    h4=env.t('dropsEnabled')
  .modal-body
    p
      figure
        .item-drop-icon(class='Pet_Egg_Wolf')
      span!=env.t('firstDrop', {eggText: "{{Content.eggs.Wolf.text()}}", eggNotes: "{{Content.eggs.Wolf.notes()}}"})
    br
    p
      figure
        .item-drop-icon(class='Pet_Currency_Gem')
      span!=env.t('useGems')
  .modal-footer
    button.btn.btn-default(ng-click='$close()')=env.t('close')

script(type='text/ng-template', id='modals/pet-key.html')
  .modal-header
    // Checks if user has 90 pets and 90 mounts. If so, displays "Beast Master/Mount Master".
    // Else if user has 90 pets, displays "Beast Master". Else, displays "Mount Master"
    - var masterTitle='{{petCount >= 90 && mountCount >= 90 ? env.t("beastMountMasterName") : petCount >= 90 ? env.t("beastMasterName") : env.t("mountMasterName")}}'
    h4=env.t('petKeyBegin', {title: masterTitle})
  .modal-body
    +gemButton
    figure
      .npc_matt
    p=env.t('petKeyInfo')
    br
    p=env.t('petKeyInfo2')
    br
    p(ng-if='user.achievements.triadBingo')=env.t('petKeyInfo4')
    p(ng-if='!user.achievements.triadBingo')=env.t('petKeyInfo3')
  .modal-footer
    button.btn.btn-default(ng-click='$close()')=env.t('petKeyNeverMind')
    span(ng-if='user.balance < 1')
      a.btn.btn-success(ng-click='openModal("buyGems")')=env.t('buyMoreGems')
      span.gem-cost=env.t('notEnoughGems')
    span(ng-if='user.balance >= 1 && petCount >= 90', ng-controller='SettingsCtrl')
      a.btn.btn-danger(ng-click='$close(); releasePets()')
        =env.t('petKeyPets')
        | : 4&nbsp;
        span.Pet_Currency_Gem1x.inline-gems
    span(ng-if='user.balance >= 1 && mountCount >= 90', ng-controller='SettingsCtrl')
      a.btn.btn-danger(ng-click='$close(); releaseMounts()')
        =env.t('petKeyMounts')
        | : 4&nbsp;
        span.Pet_Currency_Gem1x.inline-gems
    span(ng-if='(user.balance >= 1.5 || user.achievements.triadBingo) && petCount >= 90 && mountCount >= 90', ng-controller='SettingsCtrl')
      a.btn.btn-danger(ng-click='$close(); releaseBoth()')
        =env.t('petKeyBoth')
        span(ng-if='!user.achievements.triadBingo')
          | : 6&nbsp;
          span.Pet_Currency_Gem1x.inline-gems

script(type='text/ng-template', id='modals/armoireEmpty.html')
  .modal-header
    .shop_armoire.pull-right
    h4=env.t('armoireText')
  .modal-body
    p=env.t('armoireLastItem')
    br
    p=env.t('armoireNotesEmpty')
  .modal-footer
    button.btn.btn-default(ng-click='$close()')=env.t('close')
