// Created by Sabe on 12/22/13.

script(type='text/ng-template', id='modals/rebirthEnabled.html')
  .modal-header
    h4=env.t('rebirthNew')
  .modal-body
    figure
      .rebirth_orb
    p
      span=env.t('rebirthUnlock')
  .modal-footer
    button.btn.btn-default(ng-click='$close()')=env.t('close')

script(type='text/ng-template', id='modals/rebirth.html')
  .modal-header
    h4=env.t('rebirthBegin')
  .modal-body
    span(ng-if='user.stats.lvl < 100')
      +gemButton
    figure
      .rebirth_orb
    p=env.t('rebirthStartOver')
    br
    ul.list-unstyled
      li=env.t('rebirthAdvList1')
      li=env.t('rebirthAdvList2')
      li=env.t('rebirthAdvList3')
      li=env.t('rebirthAdvList4')
    br
    p=env.t('rebirthInherit')
    ul.list-unstyled
      li=env.t('rebirthInList1')
      li=env.t('rebirthInList2')
      li=env.t('rebirthInList3')
      li=env.t('rebirthInList4')
    br

    p
      span.vertical-align.inline-block.achievement-sun
      |&nbsp;
      =env.t('rebirthEarnAchievement')
  .modal-footer
    button.btn.btn-default(ng-click='$close()')=env.t('neverMind')
    span(ng-if='user.balance < 1.5 && user.stats.lvl < 100')
      a.btn.btn-success(ng-click='openModal("buyGems",{track:"Gems > Rebirth"})')=env.t('buyMoreGems')
      span.gem-cost=env.t('notEnoughGems')
    span(ng-if='user.balance >= 1.5 || user.stats.lvl >= 100', ng-controller='SettingsCtrl')
      a.btn.btn-danger(ng-click='clickRebirth($event)')=env.t('beReborn')
      span.gem-cost(ng-if='user.stats.lvl < 100')
        | 6&nbsp;
        =env.t('gems')
