script(type='text/ng-template', id='modals/reset.html')
  .modal-header
    h4=env.t('resetAccount')
  .modal-body
    p=env.t('resetText1')
    p=env.t('resetText2')
  .modal-footer
    button.btn.btn-default(ng-click='$close();')=env.t('neverMind')
    button.btn.btn-danger(ng-click='$close(); reset()')=env.t('resetDo')

script(type='text/ng-template', id='modals/restore.html')
  .modal-header
    h4=env.t('fixValues')
  .modal-body
    p=env.t('fixValuesText1')
    p=env.t('fixValuesText2')
    form.form-horizontal
      h3=env.t('stats')
      .form-group.row
        .col-sm-3
          label.control-label=env.t('health')
        .col-sm-9
          input.form-control(type='number', step="any", data-for='stats.hp', ng-model='$parent.restoreValues.stats.hp')
      .form-group.row
        .col-sm-3
          label.control-label=env.t('experience')
        .col-sm-9
          input.form-control(type='number', step="any", data-for='stats.exp', ng-model='$parent.restoreValues.stats.exp')
      .form-group.row
        .col-sm-3
          label.control-label=env.t('gold')
        .col-sm-9
          input.form-control(type='number', step="any", data-for='stats.gp', ng-model='$parent.restoreValues.stats.gp')
        //input.form-control(type='number', step="any", data-for='stats.gp', ng-model='restoreValues.stats.gp',disabled)
        //-p.alert
          small=env.t('disabledWinterEvent')
      .form-group.row
        .col-sm-3
          label.control-label=env.t('mana')
        .col-sm-9
          input.form-control(type='number', step="any", data-for='stats.mp', ng-model='$parent.restoreValues.stats.mp')
      .form-group.row
        .col-sm-3
          label.control-label=env.t('level')
        .col-sm-9
          input.form-control(type='number', data-for='stats.lvl', ng-model='$parent.restoreValues.stats.lvl')
      h3=env.t('achievements')
      .form-group.row
        .col-sm-3
          label.control-label=env.t('fix21Streaks')
        .col-sm-9
          input.form-control(type='number', data-for='achievements.streak', ng-model='$parent.restoreValues.achievements.streak')
    //- This is causing too many problems for users
      h3=env.t('other')
      a.btn.btn-sm.btn-warning(ng-controller='FooterCtrl', ng-click='addMissedDay(1)')=env.t('triggerDay')
  .modal-footer
    button.btn.btn-default(ng-click='$close()')=env.t('discardChanges')
    button.btn.btn-primary(ng-click='restore(); $close();')=env.t('saveAndClose')

script(type='text/ng-template', id='modals/delete.html')
  .modal-header
    h4=env.t('deleteAccount')
  .modal-body
    p!=env.t('deleteLocalAccountText')
    br
    .row
      .col-md-6
        input.form-control(type='password', ng-model='_deleteAccount')
  .modal-footer
    button.btn.btn-default(ng-click='$close()')=env.t('neverMind')
    button.btn.btn-danger(ng-disabled='!_deleteAccount', ng-click='$close(); delete(_deleteAccount)')=env.t('deleteDo')
