script(type='text/ng-template', id='modals/welcome.html')
  .modal-header.text-center
    h1=env.t('welcomeToHabit')
  .modal-body
    .container-fluid
      .col-sm-4.col-centered
        span(style='display:flex')
          h1
            | &#9312;
          h3(style='margin:auto auto auto .5em')=env.t('welcome1')
        .welcome_basic_avatars(style='margin: 1.5em auto 1.5em')
        h4=env.t('welcome1notes')
      .col-sm-4.col-centered
        span(style='display:flex')
          h1
            | &#9313;
          h3(style='margin:.3em auto auto .5em')=env.t('welcome2')
        .welcome_sample_tasks(style='margin: 2.5em auto 1.5em')
        h4=env.t('welcome2notes')
      .col-sm-4.col-centered
        span(style='display:flex')
          h1
            | &#9314;
          h3(style='margin:auto auto auto .5em')=env.t('welcome3')
        .welcome_promo_party(style='margin: 1em auto 1em')
        h4=env.t('welcome3notes')
  .modal-footer.text-center(style='margin-top:0')
    .col-sm-3
    .col-sm-6
      a.btn.btn-primary.btn-lg.flex-column(ng-click='$close(); Guide.goto("intro",0)')=env.t('imReady')
    .col-sm-3
