.container-fluid
  .row
    .col-md-6
      h2=env.t('inventory')
      p.well=env.t('inventoryText')
      menu.inventory-list(type='list')

        li.customize-menu
          menu.pets-menu(label=(env.t('eggs') + ' ({{eggCount}})'))
            p.muted(ng-show='eggCount < 1')=env.t('noEggs')
            div(ng-repeat='(egg,points) in ownedItems(user.items.eggs)')
              button.customize-option(class='Pet_Egg_{{::egg}}',
                ng-class='{selectableInventory: selectedPotion && !(user.items.pets[egg+"-"+selectedPotion.key]>0) && (Content.dropEggs[egg] || !selectedPotion.premium)}',
                popover='{{::Content.eggs[egg].notes()}}', popover-append-to-body='true',
                popover-title!=env.t("egg", {eggType: "{{::Content.eggs[egg].text()}}"}),
                popover-trigger='mouseenter', popover-placement='right',
                ng-click='chooseEgg(egg)')
                .badge.badge-info.stack-count {{points}}

        li.customize-menu
          menu.pets-menu(label=(env.t('hatchingPotions') + ' ({{potCount}})'))
            p.muted(ng-show='potCount < 1')=env.t('noHatchingPotions')
            div(ng-repeat='(pot,points) in ownedItems(user.items.hatchingPotions)')
              button.customize-option(class='Pet_HatchingPotion_{{::pot}}',
                ng-class='{selectableInventory: selectedEgg && !(user.items.pets[selectedEgg.key+"-"+pot]>0) && (Content.dropEggs[selectedEgg.key] || !Content.hatchingPotions[pot].premium)}',
                popover='{{::Content.hatchingPotions[pot].notes()}} {{::Content.hatchingPotions[pot].addlNotes()}}',
                popover-title!=env.t("potion", {potionType: "{{::Content.hatchingPotions[pot].text()}}"}),
                popover-trigger='mouseenter', popover-placement='right',
                popover-append-to-body='true',
                ng-click='choosePotion(pot)')
                .badge.badge-info.stack-count {{points}}

        li.customize-menu
          menu.pets-menu(label=env.t('food') + ' ({{foodCount}})')
            p.muted(ng-show='foodCount < 1')=env.t('noFood')
            div(ng-repeat='(food,points) in ownedItems(user.items.food)')
              button.customize-option(class='Pet_Food_{{::food}}',
                popover='{{::Content.food[food].notes()}}', popover-title='{{::Content.food[food].text()}}',
                popover-trigger='mouseenter', popover-placement='right',
                popover-append-to-body='true',
                ng-click='chooseFood(food)')
                .badge.badge-info.stack-count {{points}}

        li.customize-menu
          menu.pets-menu(label=env.t('special'))
            mixin specialItem(k)
              div(ng-if='user.items.special.#{k}')
                button.customize-option(class='inventory_special_#{k}',
                  popover='{{::Content.special.#{k}.notes()}}',
                  popover-title='{{::Content.special.#{k}.text()}}',
                  popover-trigger='mouseenter', popover-placement='right',
                  popover-append-to-body='true',
                  ng-click='castStart(Content.special.#{k})')
                  .badge.badge-info.stack-count {{user.items.special.#{k}}}
            +specialItem('snowball')
            +specialItem('spookySparkles')
            +specialItem('shinySeed')
            +specialItem('seafoam')

            div(ng-if='user.purchased.plan.customerId || user.purchased.plan.mysteryItems.length')
              button.customize-option(class='inventory_present inventory_present_{{moment().format("MM")}}',
                popover=env.t('subscriberItemText'), popover-trigger='mouseenter',
                popover-placement='right', popover-append-to-body='true',
                ng-click="User.openMysteryItem({})")
                .badge.badge-info.stack-count {{user.purchased.plan.mysteryItems.length}}

            div(ng-if='user.purchased.plan.consecutive.trinkets')
              button.customize-option(class='inventory_special_trinket',
                popover=env.t('mysticHourglassPopover'), popover-trigger='mouseenter',
                popover-placement='right', popover-append-to-body='true',
                ng-click="$state.go('options.inventory.timetravelers')")
                .badge.badge-info.stack-count {{user.purchased.plan.consecutive.trinkets}}

            div(ng-repeat='type in Content.cardTypes', ng-init='received=type.key+"Received"', ng-show='user.items.special[received][0]')
              button.customize-option(class='inventory_special_{{::type.key}}',
                popover=env.t('cardReceivedFrom', {cardType:'{{::Content.spells.special[type.key].text()}}', userName: '{{User.user.items.special[received][0]}}'}),
                popover-trigger='mouseenter', popover-placement='right',
                popover-append-to-body='true',
                ng-click='openCardsModal(type.key, type.messageOptions)')
                .badge.badge-info.stack-count {{user.items.special[received].length}}

    include market.jade
