mixin mountList(eggSource, potionSource)
  menu.pets(type='list')
    each egg in eggSource
      -if(!egg.noMount) {
        li.customize-menu
          menu
            each potion in potionSource
              - var mountKey = egg.key+"-"+potion.key
              - var mount = env.Content.mountInfo[mountKey]
              div(popover-trigger='mouseenter', popover=mount.text(), popover-placement='bottom')
                button(class="pet-button Mount_Icon_#{mountKey}", ng-show='user.items.mounts["#{mountKey}"]', ng-class='{active: user.items.currentMount == "#{mountKey}"}', ng-click='chooseMount("#{egg.key}", "#{potion.key}")')
                button(class="pet-button mount-not-owned", ng-if='!user.items.mounts["#{mountKey}"] && (#{potion.canBuy()} || user.items.hatchingPotions["#{potion.key}"] || user.items.pets["#{mountKey}"])')
                  .PixelPaw
      -}

.container-fluid
  .stable.row: .col-xs-12
    .pull-left-sm.col-centered(class="#{env.worldDmg.stables ? 'npc_matt_broken' : 'npc_matt'}")
    .popover.static-popover.fade.right.in.pull-left-sm.col-centered
      .arrow.hidden-xs
      h3.popover-title
        a(target='_blank', href='http://www.kickstarter.com/profile/mattboch')=env.t('mattBoch')
      .popover-content
        p=env.t('mattShall', {name: "{{user.profile.name}}"})
        h4 {{:: env.t('stableMountMasterProgress', { number: mountMasterProgress }) }}
  .row: .col-md-12
    +mountList(env.Content.dropEggs,env.Content.dropHatchingPotions)

  .row(ng-if="::shouldShowPremiumMountSection()"): .col-md-12
    h4=env.t('magicMounts')
    menu.pets(type='list')
      each potion in env.Content.premiumHatchingPotions
        li.customize-menu(ng-if="::hasAPetOfPotion('#{potion.key}')")
          menu
            each egg in env.Content.dropEggs
              - var mountKey = egg.key + "-" + potion.key
              - var mount = env.Content.mountInfo[mountKey]
              div(popover-trigger='mouseenter', popover=mount.text(), popover-placement='bottom')
                button(class="pet-button Mount_Icon_#{mountKey}", ng-show='user.items.mounts["#{mountKey}"]', ng-class='{active: user.items.currentMount == "#{mountKey}"}', ng-click='chooseMount("#{egg.key}", "#{potion.key}")')
                button(class="pet-button mount-not-owned", ng-if='!user.items.mounts["#{mountKey}"] && (#{potion.canBuy()} || user.items.hatchingPotions["#{potion.key}"] || user.items.pets["#{mountKey}"])')
                  .PixelPaw
  .row: .col-md-12
    h4=env.t('questMounts')
    +mountList(env.Content.questEggs,env.Content.dropHatchingPotions)
  .row: .col-md-12
    h4=env.t('rareMounts')
    menu
      div
        each t,k in env.Content.specialMounts
          - var animal = k.split('-')[0], color = k.split('-')[1]
          button(ng-if='user.items.mounts["#{animal}-#{color}"]', class="pet-button Mount_Icon_#{animal}-#{color}", ng-class='{active: user.items.currentMount == "#{animal}-#{color}"}', ng-click='chooseMount("#{animal}", "#{color}")', popover=env.t(t), popover-trigger='mouseenter', popover-placement='bottom')
