include ../../shared/mixins

.container-fluid
  .row
    .col-md-6
      .clearfix
        div(class="#{env.worldDmg.quests ? 'npc_ian_broken' : 'npc_ian'}").pull-left-sm.col-centered
        .popover.static-popover.fade.right.in.pull-left-sm.col-centered
          .arrow.hidden-xs
          h3.popover-title=env.t('ian')
          .popover-content
            p(ng-if='env.worldDmg.quests')=env.t('ianBrokenText')
            p(ng-if='!env.worldDmg.quests')=env.t('ianText')

      h3.equipment-title=env.t('yourQuests')
      +ownedQuests(true,'right')

    .col-md-6.border-left
      li.customize-menu
        h3.equipment-title=env.t('questsForSale')
        div(ng-repeat='category in questShopCategories')
          menu.pets-menu(label='{{category.text}}')
            div(ng-repeat='quest in category.items')
              button.customize-option(ng-class='quest.class',
                data-popover-html="{{quest.locked ? env.t('scrollsPre') : questPopover(quest) | markdown}}",
                popover-title='{{quest.text}}', popover-append-to-body="true",
                popover-trigger='mouseenter', ng-click='buyQuest(quest.key)')
              p(ng-if='quest.unlockCondition')
                |  {{::quest.unlockCondition.text()}}
              p(ng-if='!quest.unlockCondition && category.identifier !== "gold" && !quest.locked')
                |  {{::quest.value}}&nbsp;
                span.Pet_Currency_Gem1x.inline-gems
              p(ng-if='category.identifier === "gold" && !quest.locked')
                |  {{::quest.value}}&nbsp;
                span.shop_gold
              p(ng-if='quest.lvl && quest.locked')=env.t('level')
                |  {{::quest.lvl}}
