.container-fluid
  .stable.row: .col-xs-12
    div(class="#{env.worldDmg.seasonalShop ? 'seasonalshop_broken' : 'seasonalshop_open'}").pull-left-sm.col-centered
    .popover.static-popover.fade.right.in.pull-left-sm.col-centered
      .arrow.hidden-xs
      h3.popover-title!=env.t('seasonalShopTitle', {linkStart:"<a href='http://blog.habitrpg.com/who' target='_blank'>", linkEnd: "</a>"})
      .popover-content
        p(ng-if='!env.worldDmg.seasonalShop')!=env.t('seasonalShopFallText')
        p(ng-if='env.worldDmg.seasonalShop')!=env.t('seasonalShopFallText')

  // .well=env.t('seasonalShopRebirth')

  li.customize-menu.inventory-gear
    // menu.pets-menu(label=env.t('seasonalItems'))
      div
        button.customize-option(class='inventory_special_seafoam',
          popover='{{::Content.spells.special.seafoam.notes()}}',
          popover-title='{{::Content.spells.special.seafoam.text()}}',
          popover-trigger='mouseenter', popover-placement='right',
          popover-append-to-body='true',
          ng-click='purchase("special", Content.spells.special.seafoam)')
        p {{::Content.spells.special.seafoam.value}}
          span(class='shop_gold')
    menu.pets-menu(label='{{category.text}}', ng-repeat='category in seasonalShopCategories')
      div(ng-repeat='item in category.items', ng-if='!user.items.gear.owned[item.key]')
        button.customize-option(class='shop_{{item.key}}',
          popover='{{item.notes}}', popover-title='{{item.text}}',
          popover-trigger='mouseenter', popover-placement='right',
          popover-append-to-body='true',
          ng-click='purchase(item.type,item)')
        div
          | {{((item.specialClass == "wizard") && (item.type == "weapon")) + 1}}&nbsp;
          span.Pet_Currency_Gem1x.inline-gems
