.container-fluid
  .stable.row: .col-xs-12
    - var hasTrinkets = 'user.purchased.plan.consecutive.trinkets > 0'
    .pull-left-sm.col-centered(ng-class='#{hasTrinkets} ? "npc_timetravelers_active" : "npc_timetravelers"')
    .popover.static-popover.fade.right.in.pull-left-sm.col-centered
      .arrow.hidden-xs
      h3.popover-title(ng-if='#{hasTrinkets}')=env.t('timeTravelersTitle')
      h3.popover-title(ng-if='!(#{hasTrinkets})')!=env.t('timeTravelersTitleNoSub', {linkStartTyler: "<a href='https://github.com/lefnire' target='_blank'>", linkStartVicky: "<a href='http://blog.habitrpg.com/who' target='_blank'>", linkEnd: "</a>"})
      .popover-content(ng-if='!(#{hasTrinkets})')
        p!=env.t('timeTravelersPopoverNoSub', {linkStart: "<a href='https://habitica.com/#/options/settings/subscription' target='_blank'>", linkEnd: "</a>"})
      .popover-content(ng-if='#{hasTrinkets}')
        .pull-right
          span.inventory_special_trinket.inline-gems
          b x{{user.purchased.plan.consecutive.trinkets}}
        p!=env.t('timeTravelersPopover')

  .row: .col-md-7
    .alert.alert-info(ng-if='hasAllTimeTravelerItems()')=env.t('timeTravelersAlreadyOwned')

  .row
    .col-md-12
      li.customize-menu.inventory-gear
        menu.pets-menu(label='{{::category.text}}', ng-repeat='category in timeTravelersCategories')
          div(ng-repeat='item in category.items', ng-if='category.identifier === "pets" || category.identifier === "mounts" ? !user.items[category.identifier][item.key] : !user.items.gear.owned[item.key]')
            button.customize-option(class='{{item.class ? item.class : "shop_"+item.key}}',
              popover='{{item.notes}}', popover-title='{{item.text}}',
              popover-trigger='mouseenter', popover-placement='right',
              popover-append-to-body='true',
              ng-click='category.purchaseAll ? User.buyMysterySet({params:{key:category.identifier}}) : clickTimeTravelItem(category.identifier,item.key)')
