extends ../static/layout

block title
  title Authorize

block content
  .row
    .col-md-12
      p 
        span Hi 
        b=user.profile.name+'!'
      p
        b=client.clientName
        span  is requesting access to your account.
      p='Do you approve?'
      form(method='post', action='/api/v3/oauth/authorization/decision')
        input(name='transaction_id', type='hidden', value=transactionId)
        input(name='client_id', type='hidden', value=client.clientId)
        input(name='redirect_uri', type='hidden', value=client.redirectUri)
        input#allow.btn.btn-default(type='submit',value='Allow')
        input#deny.btn.btn-default(type='submit',value='Deny',name='cancel')
