extends ../static/layout

block vars
  - var layoutEnv = env // needed to pass env variable to ./layout

block title
  title Habitica &VerticalLine;&nbsp;
    =env.t('passwordResetPage')

block content
  .row(ng-controller='AccordionCtrl')
    .col-md-12
      .page-header
        h1=env.t('passwordResetPage')
      if message
        p.lead(class=hasError ? 'text-danger' : 'text-success')=message
        hr
      if success !== true
        // action empty is necessary to prevent Angular from handling the form itself (# causes issues)
        form(method='post', action='')
          .form-group
            label(for='newPass')=env.t('newPass')
            input#newPass.form-control(name='newPassword', type='password', placeholder=env.t('newPass'))
          .form-group
            label(for='confirmPass')=env.t('confirmPass')
            input#confirmPass.form-control(name='confirmPassword', type='password', placeholder=env.t('confirmPass'))
          button.btn.btn-default(type='submit')=env.t('submit')
