.row-fluid
  .span4
    .tavern-pane
      table
        tr
          td
            .npc_daniel
          td
            .popover.static-popover.fade.right.in
              .arrow
              h3.popover-title
                a(target='_blank', href='http://www.kickstarter.com/profile/2014640723')=env.t('daniel')
              .popover-content
                =env.t('danielText')
                div
                  button.btn.btn-large.btn-success(ng-class='{active: user.preferences.sleep}', ng-click='User.user.ops.sleep({})')
                    span(ng-show='user.preferences.sleep')=env.t('innCheckOut')
                    span(ng-hide='user.preferences.sleep')=env.t('innCheckIn')
    .alert.alert-info(ng-show='user.preferences.sleep')
      =env.t('innText')

    // Resources
    .modal(style='position: relative;top: auto;left: auto;right: auto;margin: 0 auto 20px;z-index: 1;max-width: 100%;')
      .modal-header
        h3=env.t('ressources')
      .modal-body
        table.table.table-striped
          tr
            td
              a(target='_blank', href='http://habitrpg.wikia.com/wiki/Board:Looking_for_a_Group_(LFG)')=env.t('lfgPosts')
          tr
            td
              a(target='_blank', href='https://vimeo.com/57654086')=env.t('tutorial')
          tr
            td
              a(target='_blank', href='http://habitrpg.wikia.com/wiki/FAQ')=env.t('FAQ')
          tr
            td
              a(target='_blank', href='http://habitrpg.wikia.com/wiki/Glossary')=env.t('glossary')
          tr
            td
              a(target='_blank', href='https://github.com/HabitRPG/habitrpg/issues')=env.t('reportAP')
          tr
            td
              a(target='_blank', href='https://trello.com/c/8gzGlle8')=env.t('requestAF')
          tr
            td
              a(target='_blank', href='http://habitrpg.wikia.com/wiki/Special:Forum')=env.t('community')

    // Player Tiers
    .modal(style='position: relative;top: auto;left: auto;right: auto;margin: 0 auto 20px;z-index: 1;max-width: 100%;', popover=env.t('tierPop'), popover-trigger="mouseenter", popover-placement="right")
      .modal-header
        h3=env.t('playerTiers')
      .modal-body
        small.
          <a href='/#/options/groups/hall'>=env.t('visitHeroes')</a> <br />
          <a href='http://habitrpg.wikia.com/wiki/Contributor_Rewards' target='_blank'>=env.t('conLearn')</a> <br />
          <a href='http://habitrpg.wikia.com/wiki/Contributing_to_HabitRPG' target='_blank'>=env.t('conLearnHow')</a>
        table.table.table-striped
          tr
            td
              a.label.label-contributor-1(ng-click='toggleUserTier($event)')=env.t('friendBadge')
              div(style='display:none;')
                p.
                  <span class='achievement achievement-firefox'></span> =env.t('friendText') + '<strong>' + =env.t('first') + '</strong> =env.t('friends1Text') + '<strong>' + =env.t('2gems') + '</strong>' + '.'
                hr
                p.
                  <span class='shop_armor_special_1 shop-sprite item-img'></span> =env.t('friendText') + '<strong>' + =env.t('second') + '</strong>' + =env.t('friendsText2') + '<strong>' + =env.t('crystalArmor') + '</strong>' + =env.t('friendText3') + '<strong>' + =env.t('2gems') + '</strong>' + '.'
          tr
            td
              a.label.label-contributor-3(ng-click='toggleUserTier($event)')=env.t('eliteBadge')
              div(style='display:none;')
                p.
                 <span class='shop_head_special_1 shop-sprite item-img'></span> =env.t('friendText') + '<strong>' + =env.t('third') + '</strong>' =env.t('friendText2') + '<strong>' + =env.t('crystalHelmet') + '</strong>' + =env.t('friendText3') + '<strong>' + =env.t('2gems') + '</strong>' + '.'
                hr
                p.
                  <span class='shop_weapon_special_1 shop-sprite item-img'></span> =env.t('friendText') + '<strong>' + =env.t('fourth') + '</strong>' + =env.t('friendText2') + '<strong>' + env.t('crystalSword') + '</strong>' + =env.t('friendText3') + '<strong>' + =env.t('2gems') + '</strong>' + '.'

          tr
            td
              a.label.label-contributor-5(ng-click='toggleUserTier($event)')=env.t('championBadge')
              div(style='display:none;')
                p.
                  <span class='shop_shield_special_1 shop-sprite item-img'></span> =env.t('friendText') + '<em>' + env.t('fifth') + '</em>' + =env.t('friendText2') + '<strong>' + =env.t('crystalShield') + '</strong>' + =env.t('friendText3') + '<strong>' + =env.t('2gems') + '</strong>' + '.'
                hr
                p.
                 <div class='Pet-Dragon-Hydra pull-left'></div> =env.t('friendText') + '<em>' + =env.t('sixth') + '</em>' + =env.t('friendText2b') + '<strong>' + =env.t('hydraPet') + '</strong>' + =env.t('friendText3b') + '<strong>' + =env.t('2gems') + '</strong>' + '.'
          tr
            td
              a.label.label-contributor-7(ng-click='toggleUserTier($event)')=env.t('legendaryBadge')
              div(style='display:none;')
                p.
                  =env.t('friendText') + '<em>' + =env.t('seventh') + '</em>' + =env.t('friendText2c') + '<strong>' + =env.t('2gems') + '</strong>' + =env.t('friendsText3c')
          tr
            td
              a.label.label-contributor-8(ng-click='toggleUserTier($event)')=env.t('heroicBadge')
              div(style='display:none;')
                p=env.t('heroicText') 
          tr
            td
              a.label.label-npc(ng-click='toggleUserTier($event)')=env.t('npcBadge')
              div(style='display:none;')
                p=env.t('npcText')

    include ./challenge-box

  .span8(ng-controller='ChatCtrl')
    h3=env.t('taverntalk')
        include ./chat-box
        small(style='position: relative; top: -20px; left: 25px;')
            include ../../shared/formatting-help
        small(style='position: relative; top: 18px; left: 0px')
            alert.alert-info.
                =env.t('tavernalert1')+ '<a href='https://github.com/HabitRPG/habitrpg/issues' target='_blank'>' =env.t('tavernalert2') + '</a>'.
    ul.unstyled.tavern-chat
      include ./chat-message
