<td><%= name %></td>
<td><%= habit_type %></td>
<td><%= score %></td>
<td><%= notes %></td>
<td><%= up %></td>
<td><%= down %></td>
<td><%= done %></td>
<td><%= position %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>