<!-- Habits -->
<% if (habit_type==1) { %>
  <% if (up) { %> <a href="#" class="vote-up"><img src="assets/add.png" /></a> <% } %>
  <% if (down) { %> <a href="#" class="vote-down"><img src="assets/remove.png" /></a> <% } %>
  
<!-- Rewards -->
<% } else if (habit_type==4) { %>
  <a class="vote-down" href=#><img src="assets/dollar.png" /></a>

<!-- Daily & Todos -->
<% } else { %>  
  <input type="checkbox" <%= done ? "class='vote-down' checked='checked'" : "class='vote-up'" %>/>
  
<% } %>

<span class="habit-text"><%= name %><%= habit_type==4 ? "($"+score+")" : '' %></span>

<div class='habit-meta'>
  <a class="edit-link" href="#/<%= id %>/edit">Edit</a>
  <% if (notes) { %>
    <img src='/assets/comment.png' class="comment" />
    <div class='qtip'><%= notes %></div>
  <% } %>
</div>