<h1>New habit</h1>

<form id="new-habit" name="habit">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="habit_type"> habit_type:</label>
    <input type="text" name="habit_type" id="habit_type" value="<%= habit_type %>" >
  </div>

  <div class="field">
    <label for="notes"> notes:</label>
    <input type="text" name="notes" id="notes" value="<%= notes %>" >
  </div>

  <div class="field">
    <label for="up"> up:</label>
    <input type="text" name="up" id="up" value="<%= up %>" >
  </div>

  <div class="field">
    <label for="down"> down:</label>
    <input type="text" name="down" id="down" value="<%= down %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Habit" />
  </div>

</form>

<a href="#/index">Back</a>