<p>
  <b>Name:</b>
  <%= name %>
</p>

<p>
  <b>Habit type:</b>
  <%= habit_type %>
</p>

<p>
  <b>Score:</b>
  <%= score %>
</p>

<p>
  <b>Notes:</b>
  <%= notes %>
</p>

<p>
  <b>Up:</b>
  <%= up %>
</p>

<p>
  <b>Down:</b>
  <%= down %>
</p>

<p>
  <b>Done:</b>
  <%= done %>
</p>

<p>
  <b>Position:</b>
  <%= position %>
</p>


<a href="#/index">Back</a>