<h1>Listing rewards</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Value</th>
    <th>Position</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rewards.each do |reward| %>
  <tr>
    <td><%= reward.name %></td>
    <td><%= reward.value %></td>
    <td><%= reward.position %></td>
    <td><%= reward.user_id %></td>
    <td><%= link_to 'Show', reward %></td>
    <td><%= link_to 'Edit', edit_reward_path(reward) %></td>
    <td><%= link_to 'Destroy', reward, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reward', new_reward_path %>
