.header-wrap(ng-controller='HeaderCtrl')
  a.label.label-default.undo-button(x-bind='click:undo', ng-show='_undo')=env.t('undo')

  header.site-header(ng-hide='user.preferences.hideHeader', role='banner', data-partysize='{{party.members.length>1 ? truarr(party.members.length) : 0}}')
    // avatar
    .herobox-wrap.main-herobox(ng-controller='UserCtrl')
      +herobox({main:1})
    // stat bars
    .hero-stats
      .meter-label(tooltip=env.t('health'))
        span.glyphicon.glyphicon-heart
      .meter.health(tooltip='{{Math.round(user.stats.hp * 100) / 100}}')
        .bar(ng-style='{"width": Shared.percent(user.stats.hp, Shared.maxHealth)+"%"}')
        span.meter-text.value
          | {{Math.ceil(user.stats.hp)}} / {{::Shared.maxHealth}}
      .meter-label(tooltip=env.t('experience'))
        span.glyphicon.glyphicon-star
      .meter.experience(tooltip='{{Math.round(user.stats.exp * 100) / 100}}')
        .bar(ng-style='{"width": Shared.percent(user.stats.exp,Shared.tnl(user.stats.lvl))+"%"}')
        span.meter-text.value
          span(ng-show='user.history.exp', tooltip=env.t('progress'))
            a(ng-click='toggleChart("exp")').glyphicon.glyphicon-signal
          span
          | {{Math.floor(user.stats.exp) | number:0}} / {{Shared.tnl(user.stats.lvl) | number:0}}
      .meter-label(tooltip=env.t('mana'), ng-if='user.flags.classSelected && !user.preferences.disableClasses')
        span.glyphicon.glyphicon-fire
      .meter.mana(ng-if='user.flags.classSelected && !user.preferences.disableClasses', tooltip='{{Math.round(user.stats.mp * 100) / 100}}')
        .bar(ng-style='{"width": (user.stats.mp / user.fns.statsComputed().maxMP * 100) + "%"}')
        span.meter-text.value
          span
          | {{Math.floor(user.stats.mp)}} / {{user.fns.statsComputed().maxMP}}
    // party
    .party(ng-controller='PartyCtrl')
      .herobox-wrap(ng-repeat='profile in partyMinusSelf')
        +herobox()
      .party-invite-wrap
        button.party-invite.btn.btn-primary(ng-click="inviteOrStartParty(party)",
          ng-if="(!party.members || party.memberCount < 4 ) && user.preferences.displayInviteToPartyWhenPartyIs1",
          popover="{{!party.members ? env.t('startAParty') : env.t('addToParty')}}", popover-placement="left", popover-trigger="mouseenter")
          span=env.t("battleWithFriends")
