small.btn-link(ng-init='showHelp = false', ng-click='showHelp = !showHelp')
  | {{showHelp ? env.t('hideFormattingHelp') : env.t('showFormattingHelp')}}

.slight-vertical-padding(ng-if='showHelp')
  table.table.table-striped
    tr.info
      td.col-xs-6 #[b=env.t('youType')]
      td.col-xs-6 #[b=env.t('youSee')]
    tr
      td=env.t('italics')
      td #[markdown(text="env.t('italics')")]
    tr
      td=env.t('bold')
      td #[markdown(text="env.t('bold')")]
    tr
      td=env.t('strikethrough')
      td #[markdown(text="env.t('strikethrough')")]
    tr
      td=env.t('emojiExample')
      td #[markdown(text="env.t('emojiExample')")]
    tr
      td=env.t('markdownLinkEx')
      td #[markdown(text="env.t('markdownLinkEx')")]
    tr
      td=env.t('markdownImageEx')
      td #[markdown(text="env.t('markdownImageEx')")]
    tr
      td!=env.t('unorderedListHTML')
      td #[markdown(text="env.t('unorderedListMarkdown')")]
    tr
      td=env.t('code')
      td #[markdown(text="env.t('code')")]

  hr
  p.text-center.muted!=env.t('markdownBlurb')
  hr
