small(ng-init='showHelp = false')
  a(ng-click='showHelp = !showHelp', ng-show='!showHelp')
    =env.t('showFormattingHelp')
  a(ng-click='showHelp = !showHelp', ng-show='showHelp')
    =env.t('hideFormattingHelp')
div(ng-show='showHelp')
  br
  p!=env.t('markdownBlurb')
  table.table.table-striped
    tr.info
      td #[b=env.t('youType')]
      td #[b=env.t('youSee')]
    tr
      td!=env.t('italics')
      td
        markdown(text="env.t('italics')")
    tr
      td!=env.t('bold')
      td
        markdown(text="env.t('bold')")
    tr
      td!=env.t('strikethrough')
      td
        markdown(text="env.t('strikethrough')")
    tr
      td!=env.t('emojiExample')
      td
        markdown(text="env.t('emojiExample')")
    tr
      td!=env.t('habitrpgIsGreat')
      td
        markdown(text="env.t('habitrpgIsGreat')")
    //tr
      td!=env.t('markdownImageExample')
      td
        markdown(text="env.t('markdownImageCode')")
    tr
      td!=env.t('code')
      td
        markdown(text="env.t('code')")
