mixin groupPlansBenefits()
  h2.text-center=env.t('groupBenefitsTitle')
  .row(style="font-size: 2rem;")
    .col-md-6.col-md-offset-3.text-center=env.t('groupBenefitsDescription')
  .row.row-margin
    .col-md-4
      h2=env.t('teamBasedTasks')
      div
        h3
          span.glyphicon.glyphicon-ok-circle(style='margin-right: 1.5rem;')
          =env.t('groupBenefitSharedTaskTitle')
        span=env.t('groupBenefitSharedTaskDescription')
      div
        h3
          span.glyphicon.glyphicon-ok-circle(style='margin-right: 1.5rem;')
          =env.t('groupBenefitAssignTasksTitle')
        span=env.t('groupBenefitAssignTasksDescription')
      div
        h3
          span.glyphicon.glyphicon-ok-circle(style='margin-right: 1.5rem;')
          =env.t('groupBenefitClaimTaskTitle')
        span=env.t('groupBenefitClaimTaskDescription')
      div
        h3
          span.glyphicon.glyphicon-ok-circle(style='margin-right: 1.5rem;')
          =env.t('groupBenefitMarkTasksTitle')
        span=env.t('groupBenefitMarkTasksDescription')
      div
        h3
          span.glyphicon.glyphicon-ok-circle(style='margin-right: 1.5rem;')
          =env.t('groupBenefitGroupManagersTitle')
        span=env.t('groupBenefitGroupManagersDescription')

    .col-md-4
      h2=env.t('specializedCommunication')
      div
        h3
          span.glyphicon.glyphicon-ok-circle(style='margin-right: 1.5rem;')
          =env.t('groupBenefitChatPrivatelyTitle')
        span=env.t('groupBenefitChatPrivatelyDescription')
      div
        h3
          span.glyphicon.glyphicon-ok-circle(style='margin-right: 1.5rem;')
          =env.t('groupBenefitMessageLimitTitle')
        span=env.t('groupBenefitMessageLimitDescription')
    .col-md-4
      h2=env.t('funExtras')
      div
        h3
          span.glyphicon.glyphicon-ok-circle(style='margin-right: 1.5rem;')
          =env.t('groupBenefitFreeSubscriptionTitle')
        span=env.t('groupBenefitFreeSubscriptionDescription')
      div
        h3
          span.glyphicon.glyphicon-ok-circle(style='margin-right: 1.5rem;')
          =env.t('groupBenefitExclusiveMountTitle')
