// Streak
script(id='modals/achievements/streak.html', type='text/ng-template')
  .modal-header
    h3=env.t('modalAchievement')
  .modal-body
    .achievement.achievement-thermometer
    =env.t('streakerAchievement')
  .modal-footer
    button.btn.btn-default.cancel(ng-click='modals.achievements.streak = false')=env.t('ok')

// Max Gear
script(id='modals/achievements/ultimateGear.html', type='text/ng-template')
  .modal-header
    h3=env.t('modalAchievement')
  .modal-body
    .achievement.achievement-armor
    =env.t('gearAchievement')
  .modal-footer
    button.btn.btn-default.cancel(ng-click='modals.achievements.ultimateGear = false')=env.t('ok')

// Beast Master
script(id='modals/achievements/ultimateGear.html', type='text/ng-template')
  .modal-header
    h3=env.t('modalAchievement')
  .modal-body
    p
      .achievement.achievement-rat
      =env.t('beastAchievement')
  .modal-footer
    button.btn.btn-default.cancel(ng-click='modals.achievements.beastMaster = false')=env.t('ok')

// Contributor
// activated by user.flags.contributor
script(id='modals/achievements/contributor.html', type='text/ng-template')
  .modal-header
    h3=env.t('modalContribAchievement')
  .modal-body
    .npc_justin.float-left
    p
      | {{user.profile.name}},
      =env.t('contribText1')
      | {{user.contributor.level}}
      =env.t('contribText2')
      a(href='http://habitrpg.wikia.com/wiki/Contributor_Rewards' target='_blank')=env.t('contribText3')
  .modal-footer
    button.btn.btn-default.cancel(ng-click='set({"flags.contributor":false})')=env.t('ok')

//Rebirth
script(id='modals/achievements/rebirth.html', type='text/ng-template')
  .modal-header
    h3=env.t('modalAchievement')
  .modal-body
    .achievement.achievement-sun
    =env.t('rebirthAchievement1')
    | {{user.achievements.rebirths}}
    =env.t('rebirthAchievement2')
    | {{user.achievements.rebirthLevel}}.
    =env.t('rebirthAchievement3')
  .modal-footer
    button.btn.btn-default.cancel(ng-click='modals.achievements.rebirth = false')=env.t('ok')
