// Streak
script(id='modals/achievements/streak.html', type='text/ng-template')
  .modal-header
    h4=env.t('modalAchievement')
  .modal-body
    .achievement.achievement-thermometer
    =env.t('streakerAchievement')
  .modal-footer
    button.btn.btn-default(ng-click='$close()')=env.t('ok')

// Max Gear
script(id='modals/achievements/ultimateGear.html', type='text/ng-template')
  .modal-header
    h4=env.t('modalAchievement')
  .modal-body
    .achievement.achievement-armor
    =env.t('gearAchievement')
  .modal-footer
    button.btn.btn-default(ng-click='$close()')=env.t('ok')

// Beast Master
script(id='modals/achievements/beastMaster.html', type='text/ng-template')
  .modal-header
    h4=env.t('modalAchievement')
  .modal-body
    p
      .achievement.achievement-rat
      =env.t('beastAchievement')
  .modal-footer
    button.btn.btn-default(ng-click='$close()')=env.t('ok')

// Contributor
// activated by user.flags.contributor
script(id='modals/achievements/contributor.html', type='text/ng-template')
  .modal-header
    h4=env.t('modalContribAchievement')
  .modal-body
    .npc_justin.float-left
    p
      !=env.t('contribModal', {name: "{{user.profile.name}}", level: "{{user.contributor.level}}"}) + ' '
      a(href='http://habitrpg.wikia.com/wiki/Contributor_Rewards' target='_blank')=env.t('contribLink')
  .modal-footer
    button.btn.btn-default(ng-click='set({"flags.contributor":false}); $close()')=env.t('ok')

//Rebirth
script(id='modals/achievements/rebirth.html', type='text/ng-template')
  .modal-header
    h4=env.t('modalAchievement')
  .modal-body
    .achievement.achievement-sun
    =env.t('rebirthAchievement', {number: "{{user.achievements.rebirths}}", level: "{{user.achievements.rebirthLevel}}"})
  .modal-footer
    button.btn.btn-default(ng-click='$close()')=env.t('ok')
