
// Streak
div(modal='modals.achievements.streak')
  .modal-header
    h3=env.t('achievementEsclamation')
  .modal-body
    .achievement.achievement-thermometer
    =env.t('streakerAchievement')
  .modal-footer
    button.btn.btn-default.cancel(ng-click='modals.achievements.streak = false')=env.t('ok')

// Max Gear
div(modal='modals.achievements.ultimateGear')
  .modal-header
    h3=env.t('achievementEsclamation')
  .modal-body
    .achievement.achievement-armor
    =env.t('ultimGearUnlocked')
  .modal-footer
    button.btn.btn-default.cancel(ng-click='modals.achievements.ultimateGear = false')=env.t('ok')

// Beast Master
div(modal='modals.achievements.beastMaster')
  .modal-header
    h3=env.t('achievementEsclamation')
  .modal-body
    p
      .achievement.achievement-rat
      =env.t('beastMastUnlocked')
  .modal-footer
    button.btn.btn-default.cancel(ng-click='modals.achievements.beastMaster = false')=env.t('ok')

// Contributor
div(modal='user.flags.contributor')
 .modal-header
   h3=env.t('contributorAchievementName')
 .modal-body
   .npc_justin.float-left
   p
    | {{user.profile.name}}, 
    =env.t('contributorText1')
    | {{user.contributor.level}} 
    =env.t('contributorText2')

 .modal-footer
   button.btn.btn-default.cancel(ng-click='set({"flags.contributor":false})')=env.t('ok')

//Rebirth
div(modal='modals.achievements.rebirth')
  .modal-header
    h3=env.t('achievementEsclamation')
  .modal-body
    .achievement.achievement-sun
    =env.t('rebirthText1')
    | {{user.achievements.rebirths}}
    =env.t('rebirthText2')
    | {{user.achievements.rebirthLevel}}
    =env.t('rebirthText3')
  .modal-footer
    button.btn.btn-default.cancel(ng-click='modals.achievements.rebirth = false')=env.t('ok')

