//Why is shown? Because of script here at line 24!!!!!!!!!
script(id='modals/buyGems.html', type='text/ng-template')
  .modal-body
    .buy-gems
      include ../gems
      .well
        h3=env.t('buyGems')
        table.table
          tr
            td
              span.dashed-underline(popover=env.t('donateText1'),popover-trigger='mouseenter',popover-placement='right')
                | +20 <span class="Pet_Currency_Gem1x inline-gems"/>
          tr
            td
              span.dashed-underline(popover=env.t('donateText3'),popover-trigger='mouseenter',popover-placement='right')
                =env.t('donateText2')
          tr
            td.alert.alert-info $5&nbsp;
              =env.t('USD')
          tr
            td
              .row
                .col-md-6
                  .btn.btn-primary(ng-click='showStripe()')=env.t('payWithCard')
                .col-md-6
                  //-script(src='/bower_components/JavaScriptButtons/dist/paypal-button.min.js?merchant=#{env.PAYPAL_MERCHANT}', data-button='buynow', data-name=env.t('paypalText'), data-quantity='1', data-amount='5', data-currency='USD', data-tax='0', data-callback='#{env.BASE_URL}/api/v2/user/buy-gems/paypal-ipn', data-custom='?uid={{user._id}}&apiToken={{user.apiToken}}', data-return='#{env.BASE_URL}', data-rm='1', data-no_shipping='1')
                  div#custom-paypal-button.paypal-button(ng-init='initPayPalButton()')
              .row
                .col-md-12
                  small.muted=env.t('payNote')

      div(ng-include="'partials/options.settings.subscription.html'")

  .modal-footer
    button.btn.btn-default(ng-click='$close()')=env.t('cancel')
