h4.stats-equipment=env.t('equipment')
table.table.table-striped
  tr(ng-repeat='(k,v) in user.items.gear.equipped', ng-init='piece=Content.gear.flat[v]', ng-show='piece')
    td
      strong {{piece.text}}:&nbsp;
      span(ng-repeat='stat in ["str","con","per","int"]', ng-show='piece[stat]') {{piece[stat]}} {{stat.toUpperCase()}}&nbsp;

h4=env.t('stats')
table.table.table-striped
  tr
    td
      strong=env.t('health')
      | : {{profile.stats.hp | number:0}} / 50
  tr
    td
      strong=env.t('gold')
      | : {{profile.stats.gp | number:0}}
  tr
    td
      strong=env.t('level')
      | : {{profile.stats.lvl}}
  tr
    td
      strong=env.t('experience')
      | : {{profile.stats.exp | number:0}} / {{Shared.tnl(profile.stats.lvl)}}

h4=env.t('attributes')
table.table.table-striped
  tr(ng-repeat='(k,v) in {str:"Strength",int:"Intelligence",con:"Constitution",per:"Perception"}')
    td
      strong {{v}}: {{profile._statsComputed[k]}}
    td
      ul(style='list-style-type:none')
        li
          i.icon-question-sign(popover-title=env.t('levelBonus'), popover-trigger='mouseenter', popover-placement='top', popover=env.t('levelBonusText'))
          | 
          =env.t('level')
            |: {{(profile.stats.lvl - 1) / 2}}&nbsp;
        li
          i.icon-question-sign(popover-title=env.t('equipment'), popover-trigger='mouseenter', popover-placement='top', popover=env.t('equipmentBonusText'))
          | 
          =env.t('equipment')
            |: {{Content.gear.flat[profile.items.gear.equipped.weapon][k] + Content.gear.flat[profile.items.gear.equipped.armor][k] + Content.gear.flat[profile.items.gear.equipped.head][k] + Content.gear.flat[profile.items.gear.equipped.shield][k] || 0}}&nbsp;
        li
          i.icon-question-sign(popover-title=env.t('classBonus'), popover-trigger='mouseenter', popover-placement='top', popover=env.t('classBonusText'))
          | 
          =env.t('classEquipBonus')
            |: {{profile._statsComputed[k] - profile.stats.buffs[k] - ((profile.stats.lvl - 1) / 2) - Content.gear.flat[profile.items.gear.equipped.weapon][k] - Content.gear.flat[profile.items.gear.equipped.armor][k] - Content.gear.flat[profile.items.gear.equipped.head][k] - Content.gear.flat[profile.items.gear.equipped.shield][k] - profile.stats[k]}}&nbsp;
        li
          i.icon-question-sign(popover-title=env.t('allocatedPoints'), popover-trigger='mouseenter', popover-placement='top', popover=env.t('allocatedPointsText'))
          | 
          =env.t('allocated')
            |: {{profile.stats[k] || 0}}&nbsp;
        li
          i.icon-question-sign(popover-title=env.t('buffs'), popover-trigger='mouseenter', popover-placement='top', popover=env.t('buffsText'))
          | 
          =env.t('buffs')
            |: {{profile.stats.buffs[k] || 0}}&nbsp;
  tr(ng-if='profile.stats.buffs.stealth')
    td
      strong=env.t('stealth')
        |: {{profile.stats.buffs.stealth}}&nbsp;
        i.icon-question-sign(popover-title=env.t('stealth'), popover-trigger='mouseenter', popover-placement='right', popover=env.t('stealthNewDay'))
    td
  tr(ng-if='profile.stats.buffs.streaks')
    td
      strong=env.t('streaksFrozen')
        | 
        i.icon-question-sign(popover-title=env.t('streaksFrozen'), popover-trigger='mouseenter', popover-placement='right', popover=env.t('streaksFrozenText'))
    td

h4=env.t('pets')
table.table.table-striped
  tr
    td
      strong=env.t('petsFound')
      | : {{profile.petCount}}
//  tr
    td
      strong=env.t('mountsTamed')
      | : {{profile.mountCount}} //
