extends ./layout
//Trick needed to pass 'env' to ./layout
block vars
  - var layoutEnv = env

block title
  title=env.t('titlePrivacy')

block content
  #wrap
    //app:header:header
    .container
      .page-header
        h1=env.t('privacy')
      p.pagemeta=env.t('privLastUp')
      p
        strong=env.t('pleaseRead')
      p=env.t('privFirstPar')
      p=env.t('privSecPar')
      p
        strong=env.t('privSub1Title')
      p=env.t('priv1.1Par')
      p=env.t('priv1.2Par')
      p
        strong=env.t('privSub2Title')
      p=env.t('priv2Par')
      p
        strong=env.t('privSub3Title')
      p=env.t('priv3Par')
      p=env.t('priv3.1Par')
      p=env.t('priv3.2Par')
      p=env.t('priv3.3Par')
      p=env.t('priv3.4Par')
      p=env.t('priv3.5Par')
      p=env.t('priv3.6Par')
      p=env.t('priv3.7Par')
      p
        strong=env.t('privSub4Title')
      p=env.t('priv4Par')
      p
        strong=env.t('privSub5Title')
      p=env.t('priv5.1Par')
      p=env.t('priv5.2Par')
      p
        strong=env.t('privSub6Title')
      p=env.t('priv6Par')
      p
        strong=env.t('privSub7Title')
      p=env.t('priv7Par')
      p
        strong=env.t('privSub8Title')
      p=env.t('priv8Par')
      p=env.t('priv8.1Par')
      p=env.t('priv8.2Par')
      p=env.t('priv8.3Par')
      p=env.t('priv8.4Par')
      p
        strong=env.t('privSub9Title')
      p=env.t('priv9Par')
      p
        strong=env.t('privSub10Title')
      p=env.t('priv10Par')
      p
        strong=env.t('privSub11Title')
      p=env.t('priv11Par')
      p
        strong=env.t('privSub12Title')
      p=env.t('priv12Par')
      p
        strong=env.t('privSub13Title')
      p=env.t('priv13Par')
      p
        strong=env.t('privSub14Title')
      p=env.t('priv14Par')
      p
        strong=env.t('privSub15Title')
      p=env.t('priv15Par')
      address
        strong OCDevel
        br
        | 98 Morrison Ave &num;2
        br
        | Somerville&comma; MA 02144
        br
        =env.t('email')
        | &colon; 
        a(href='mailto:tylerrenelle@gmail.com') tylerrenelle&commat;gmail&period;com
        p=env.t('phone')
      p
      #home_static_footer
        | &copy; 2012 OCDevel