extends ./layout
//Trick needed to pass 'env' to ./layout
block vars
  - var layoutEnv = env

block title
  title=env.t('titleTerms')

block content
  #wrap
    //app:header:header
    .container
      .page-header
        h1=env.t('termsUse')
      p=env.t('termsLastUp')
      p=env.t('termsFirstPar')
      p=env.t('termsSecPar')
      p=env.t('termThirdPar')
      p=env.t('termsFourthPar')
      p
        strong=env.t('termsMod')
      p=env.t('terms1Mod')
      p
        strong=env.t('termsElig')
      p=env.t('terms1Elig')
      p
        strong=env.t('termsPriv')
      p=env.t('terms1Priv')
      p
        strong=env.t('termsCont')
      p=env.t('terms1Cont')
      p
        strong=env.t('termsOwn')
      p=env.t('terms1Own')
      p
        strong=env.t('termsLic')
      p=env.t('terms1Lic')
      p
        strong=env.t('termsPubCont')
      p=env.t('terms1PubCont')
      p=env.t('terms2PubCont')
      p=env.t('terms3PubCont')
      p
        strong=env.t('termsNotify')
      p=env.t('terms1Notify')
      p=env.t('terms2Notify')
      p=env.t('terms3Notify')
      p=env.t('terms4Notify')
      p=env.t('terms5Notify')
        br
        | OCDevel
        br
        | 98 Morrison Ave &num;2
        br
        | Somerville&comma; MA 02144
      p=env.t('terms6Notify')
      p=env.t('terms7Notify')
      p=env.t('terms8Notify')
      p
        strong=env.t('termsRCF')
      p=env.t('terms1RCF')
      p
        strong=env.t('termsInter')
      p=env.t('terms1Inter')
      p
        strong=env.t('termsProhib')
      p=env.t('terms1Prohib')
        br
      ul
        li=env.t('terms2Prohib')
        li=env.t('terms3Prohib')
        li=env.t('terms4Prohib')
        li=env.t('terms5Prohib')
        li=env.t('terms6Prohib')
        li=env.t('terms7Prohib')
        li=env.t('terms8Prohib')
        li=env.t('terms9Prohib')
        li=env.t('terms10Prohib')
        li=env.t('terms11Prohib')
        li=env.t('terms12Prohib')
        li=env.t('terms13Prohib')
        li=env.t('terms14Prohib')
        li=env.t('terms15Prohib')
        li=env.t('terms16Prohib')
      p=env.t('terms17Prohib')
      p
        strong=env.t('termsLinks')
      p=env.t('terms1Links')
      p
        strong=env.t('termsCancel')
      p=env.t('terms1Cancel')
      p=env.t('terms2Cancel')
      p=env.t('terms3Cancel')
      p=env.t('terms4Cancel')
      p
        strong=env.t('termsDisc')
      p=env.t('terms1Disc')
      p=env.t('terms2Disc')
      p=env.t('terms3Disc')
      p
        strong=env.t('termsIdemn')
      p=env.t('terms1Idemn')
      p
        strong=env.t('termsLimit')
      p=env.t('terms1Limit')
      p=env.t('terms2Limit')
      p
        strong=env.t('termsRights')
      p=env.t('terms1Rights')
      p
        strong=env.t('termsLaw')
      p=env.t('terms1Law')
      p=env.t('terms2Law')
      p
        strong=env.t('termsExport')
      p=env.t('terms1Export')
      p
        strong=env.t('termsAgree')
      p=env.t('terms1Agree')
      p
        strong=env.t('termsAssign')
      p=env.t('terms1Assign')
      p
        strong=env.t('termsNotices')
      p=env.t('terms1Notices')
      p
        strong=env.t('termsGeneral')
      p=env.t('terms1General')
      p
        strong=env.t('termsContact')
      p=env.t('terms1Contact')
      #home_static_footer
        | &copy; 2012 OCDevel