mixin achiev(isEarned, spriteName)
  div
    .achievement(class='#{spriteName}', ng-if='::#{isEarned}')
    div(ng-class='::{muted: !(#{isEarned})}')
      block
    hr

mixin achievWithSimpleCount(countVal, spriteName, title, desc)
  +achiev(countVal, spriteName)
    h5=env.t(title)
    small(ng-if='::!(#{countVal})')
      =env.t(desc, {count: "0"})
    small(ng-if='::#{countVal}')
      =env.t(desc, {count: "{{::" + countVal + "}}"})


if mobile
  .item.item-divider=env.t('achievements')

include ./achievs/special-achievs

include ./achievs/basic-achievs

include ./achievs/seasonal-achievs

include ./achievs/challenges

include ./achievs/quests
