mixin simpleAchiev(isEarned, spriteName, titleText, descText)
  div(popover-title='#{titleText}',
    data-popover-html='#{descText}',
    popover-trigger='mouseenter',
    popover-placement='bottom')&attributes(attributes)

    button.pet-button(ng-class='::{muted: !(#{isEarned})}')
      .achievement(class='#{spriteName}')

mixin achievWithSimpleCount(countVal, spriteName, title, desc)
  +simpleAchiev(countVal, spriteName, env.t(title), env.t(desc, {count: "0"}))(ng-if='::!(#{countVal})')
  +simpleAchiev(countVal, spriteName, env.t(title), env.t(desc, {count: "{{::" + countVal + "}}"}))(ng-if='::#{countVal}')

mixin achievWithSingularPlural(countVal, spriteName, sgTitle, sgDesc, plTitle, plDesc)
  +simpleAchiev(countVal, spriteName, env.t(plTitle, {count: "{{::" + countVal + "}}"}),
    env.t(plDesc, {count: "{{::" + countVal + "}}"}))(ng-if='::#{countVal} > 1')
  +simpleAchiev(countVal, spriteName, env.t(sgTitle), env.t(sgDesc))(ng-if='::!(#{countVal} > 1)')


if mobile
  .item.item-divider=env.t('achievements')

.container-fluid
  .row: .col-md-12
    h4=env.t('basicAchievs')
    menu.pets(type='list')
      li.customize-menu
        menu
          include ./achievs/basic-achievs
  .row: .col-md-12
    h4=env.t('seasonalAchievs')
    menu.pets(type='list')
      li.customize-menu
        menu
          include ./achievs/seasonal-achievs
  .row: .col-md-12
    h4=env.t('specialAchievs')
    menu.pets(type='list')
      li.customize-menu
        menu
          include ./achievs/special-achievs

hr

include ./achievs/challenges
include ./achievs/quests
