mixin achiev(isEarned, spriteName)
  div&attributes(attributes)
    .achievement(class='#{spriteName}', ng-if='::#{isEarned}')
    div(ng-class='::{muted: !(#{isEarned})}')
      block
    hr

mixin simpleAchiev(isEarned, spriteName, titleText, descText)
  +achiev(isEarned, spriteName)&attributes(attributes)
    h5=titleText
    small!=descText

mixin achievWithSimpleCount(countVal, spriteName, title, desc)
  +simpleAchiev(countVal, spriteName, env.t(title), env.t(desc, {count: "0"}))(ng-if='::!(#{countVal})')
  +simpleAchiev(countVal, spriteName, env.t(title), env.t(desc, {count: "{{::" + countVal + "}}"}))(ng-if='::#{countVal}')

mixin achievWithSingularPlural(countVal, spriteName, sgTitle, sgDesc, plTitle, plDesc)
  +simpleAchiev(countVal, spriteName, env.t(plTitle, {count: "{{::" + countVal + "}}"}),
    env.t(plDesc, {count: "{{::" + countVal + "}}"}))(ng-if='::#{countVal} > 1')
  +simpleAchiev(countVal, spriteName, env.t(sgTitle), env.t(sgDesc))(ng-if='::!(#{countVal} > 1)')


if mobile
  .item.item-divider=env.t('achievements')

include ./achievs/special-achievs

include ./achievs/basic-achievs

include ./achievs/seasonal-achievs

include ./achievs/challenges

include ./achievs/quests
