mixin groupCreateForm()
  form.col-md-12.form-horizontal(ng-submit='create(newGroup)')
    .form-group
      label.control-label(for='new-group-name')=env.t('newGroupName', {groupType: "{{text}}"})
      input.form-control#new-group-name.input-medium.option-content(required, type='text', placeholder=env.t('newGroupName', {groupType: "{{text}}"}), ng-model='newGroup.name')
    .form-group
      label(for='new-group-description')=env.t('description')
      textarea.form-control#new-group-description.option-content(cols='3', placeholder=env.t('description'), ng-model='newGroup.description')
    .form-group(ng-show='type=="guild"')
      .radio
        label
          input(type='radio', name='new-group-privacy', value='public', ng-model='newGroup.privacy')
          =env.t('public')
      .radio
        label
          input(type='radio', name='new-group-privacy', value='private', ng-model='newGroup.privacy')
          =env.t('inviteOnly')
      br
      input.btn.btn-default(type='submit', ng-disabled='!newGroup.privacy && !newGroup.name', value=env.t('create'))
      span.gem-cost= '4 ' + env.t('gems')
      p
        small=env.t('gemCost')
    .form-group
      .checkbox
        label
          input(type='checkbox', ng-model='newGroup.leaderOnly.challenges')
          =env.t('leaderOnlyChallenges')
    .form-group(ng-show='type=="party"')
      input.btn.btn-default.form-control(type='submit', value=env.t('create'))
