//TODO: This can be a directive and the group/user can be an object passed via attribute
mixin groupSubscription()
  div(ng-show="groupPanel == 'subscription'")
    .col-md-12
      .col-md-12
        div(ng-hide="upgrade || group.purchased.plan.customerId")
          +groupPlansBenefits

        .row
          .col-md-12
            br
            table.table.alert.alert-info(ng-if='group.purchased.plan.customerId')
              tr(ng-if='group.purchased.plan.dateTerminated'): td.alert.alert-warning
                span.noninteractive-button.btn-danger=env.t('canceledSubscription')
                i.glyphicon.glyphicon-time
                |  #{env.t('subCanceled')} <strong>{{moment(group.purchased.plan.dateTerminated).format('MM/DD/YYYY')}}</strong>
              tr(ng-if='!group.purchased.plan.dateTerminated'): td
                h3=env.t('subscribed')
                p(ng-if='group.purchased.plan.planId')=env.t('purchasedPlanId', {price: '{{Content.subscriptionBlocks[group.purchased.plan.planId].price}}', months: '{{Content.subscriptionBlocks[group.purchased.plan.planId].months}}', plan: '{{group.purchased.plan.paymentMethod}}'})
              tr(ng-if='group.purchased.plan.extraMonths'): td
                span.glyphicon.glyphicon-credit-card
                | &nbsp;#{env.t('purchasedPlanExtraMonths', {months: '{{group.purchased.plan.extraMonths | number:2}}'})}
              tr(ng-if='group.purchased.plan.consecutive.count || group.purchased.plan.consecutive.offset'): td
                span.glyphicon.glyphicon-forward
                | &nbsp;#{env.t('consecutiveSubscription')}
                ul.list-unstyled
                  li #{env.t('consecutiveMonths')} {{group.purchased.plan.consecutive.count + group.purchased.plan.consecutive.offset}}
                  li #{env.t('gemCapExtra')} {{group.purchased.plan.consecutive.gemCapExtra}}
                  li #{env.t('mysticHourglasses')} {{group.purchased.plan.consecutive.trinkets}}

            div(ng-if='group.purchased.plan.customerId')
              .btn.btn-primary(ng-if='!group.purchased.plan.dateTerminated && group.purchased.plan.paymentMethod=="Stripe"', ng-click='Payments.showStripeEdit({groupId: group.id})')=env.t('subUpdateCard')
              .btn.btn-sm.btn-danger(ng-if='!group.purchased.plan.dateTerminated', ng-click='Payments.cancelSubscription({group: group})')=env.t('cancelSub')
        
        .row
          .col-md-12(ng-if='!group.purchased.plan.customerId || (group.purchased.plan.customerId && group.purchased.plan.dateTerminated)', ng-init="_subscription.key='group_monthly'")
            .row.text-center
              h3 Upgrade My Group
              div
                a.purchase.btn.btn-primary(ng-click='Payments.showStripe({subscription:_subscription.key, coupon:_subscription.coupon, groupId: group.id})', ng-disabled='!_subscription.key')= env.t('card')
                a.purchase(ng-click="Payments.amazonPayments.init({type: 'subscription', subscription:_subscription.key, coupon:_subscription.coupon, groupId: group.id})")
                  img(src='https://payments.amazon.com/gp/cba/button',alt=env.t('amazonPayments'))
             //-  .col-xs-4
             //-    a.purchase(href='/paypal/subscribe?_id={{user._id}}&apiToken={{User.settings.auth.apiToken}}&sub={{_subscription.key}}{{_subscription.coupon ? "&coupon="+_subscription.coupon : ""}}&groupId={{group.id}}', ng-disabled='!_subscription.key')
             //-      img(src='https://www.paypalobjects.com/webstatic/en_US/i/buttons/pp-acceptance-small.png',alt=env.t('paypal'))
        
        .row(ng-if='!group.purchased.plan.customerId)
          .col-md-6.col-md-offset-3
            br
            .text-center=env.t('groupSubscriptionPrice')
