extends ./layout

block vars
  - var layoutEnv = env

block title
  title Habitica &VerticalLine;&nbsp;
    =env.t('FAQ')

block content
  .row(ng-controller='AccordionCtrl')
    .col-md-12
      .page-header
        h1=env.t('frequentlyAskedQuestions')
      p.pagemeta
        =env.t('lastUpdated')
        |&nbsp;
        =env.t('September')
        |&nbsp;4&comma; 2015

      - var headings = ['overview', 'set-up-tasks', 'sample-tasks', 'task-color', 'health', 'party-with-friends', 'pets-mounts', 'character-classes', 'blue-mana-bar', 'monsters-quests', 'gems', 'bugs-features']
      - var questions = env.Content.faq.questions
      - for (var h in headings)
        - var faqNumber = 1 + +h
        a.h2.accordion.collapsed(href='#' + headings[h], data-toggle='collapse')=env.t('faqQuestion' + faqNumber)
        .clearfix.collapse(id=headings[h])
          p!=env.t('webFaqAnswer' + faqNumber)

      h3!=env.t('webFaqStillNeedHelp')
