include ../shared/mixins.jade

//-Trick needed to pass 'env' to ./layout
block vars
doctype html
html(ng-app='habitrpg')

  head
    block extraHead
    block title
      title=env.t('titleIndex')

    include ../shared/new-relic

    script(type='text/javascript').
      window.env = !{JSON.stringify(env._.pick(env, env.clientVars))};

    link(rel='shortcut icon', sizes="32x32", href='#{env.getBuildUrl("favicon.ico")}?v=4')
    link(rel='shortcut icon', sizes="192x192", href='#{env.getBuildUrl("favicon_192x192.png")}?v=4')
    link(rel='mask-icon', href='#{env.getBuildUrl("favicon.ico")}?v=4')

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    //FIXME for some reason this won't load when in footerCtrl.js#deferredScripts()
    script(type="text/javascript", src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5016f6cc44ad68a4", async="async")

    != env.getManifestFiles("static")

  body
    div(ng-controller='AuthCtrl')
      include ./login-modal
      include ../shared/modals/message-modal
      nav.navbar.navbar-inverse.navbar-fixed-top
        .navbar-header
          button.navbar-toggle(type='button', ng-click='isNavbarCollapsed = !isNavbarCollapsed', ng-init='isNavbarCollapsed = true')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/static/front') Habitica
        .collapse.navbar-collapse(collapse="isNavbarCollapsed")
          ul.nav.navbar-nav
            li(class='#{menuItem=="features" ? "active" : ""}')
              a(href='/static/features')=env.t('companyAbout')
            //-li(class='#{menuItem=="videos" ? "active" : ""}')
              a(href='/static/videos')=env.t('companyVideos')
            li(class='#{menuItem=="plans" ? "active" : ""}')
              a(href='/static/plans')=env.t('groupPlans')
            li
              a(href='https://habitica.wordpress.com/')=env.t('companyBlog')
            li(class='#{menuItem=="pressKit" ? "active" : ""}')
              a(href='/static/press-kit')=env.t('presskit')
            li(class='#{menuItem=="contact" ? "active" : ""}')
              a(href='/static/contact')=env.t('contactUs')

          button#header-play-button.btn.btn-primary.navbar-btn.navbar-right(ng-click='playButtonClick()')=env.t('playButton')

      .container
        block content

  include ../shared/footer
