- var t = t || env.t;
- var maintenanceStart = maintenanceStart || env.maintenanceStart;
- var maintenanceEnd = maintenanceEnd || env.maintenanceEnd;

title Habitica &VerticalLine;&nbsp;
  =t('maintenance')

head
  link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css')

body
  .container
    h1.text-center=t('maintenanceInfoTitle')
    img.img-rendering-auto.center-block.img-responsive(src='https://d2afqr2xdmyzvu.cloudfront.net/assets/scene_maintenance.png')
    h2=t('maintenanceInfoWhat')
    p!=t('maintenanceInfoWhatText')
    img.pull-left(src='https://d2afqr2xdmyzvu.cloudfront.net/assets/scene_new.png')
    h2=t('maintenanceInfoWhy')
    p=t('maintenanceInfoWhyText')
    p!=t('maintenanceInfoTechDetails')
    h2=t('maintenanceInfoMore')
    h3=t('maintenanceInfoAccountChanges')
    p!=t('maintenanceInfoAccountChangesText')
    h3=t('maintenanceInfoAddFeatures')
    p=t('maintenanceInfoAddFeaturesText')
    h3=t('maintenanceInfoHowLong')
    img.pull-right(src='https://d2afqr2xdmyzvu.cloudfront.net/assets/scene_chatter.png')
    p!=t('maintenanceInfoHowLongText', {localStartTime: '<span id="start-time">' + maintenanceStart + '</span>', localEndTime: '<span id="end-time">' + maintenanceEnd + '</span>'})
    h3=t('maintenanceInfoStatsAffected')
    p=t('maintenanceInfoStatsAffectedText1')
    p=t('maintenanceInfoStatsAffectedText2')
    h3=t('maintenanceInfoSeeTasks')
    p=t('maintenanceInfoSeeTasksText')
    h3=t('maintenanceInfoRarePet')
    p=t('maintenanceInfoRarePetText')
    img.pull-left(src='https://d2afqr2xdmyzvu.cloudfront.net/assets/scene_coding.png')
    h3=t('maintenanceInfoWho')
    p=t('maintenanceInfoWhoText')
    p=t('maintenanceInfoTesting')

  script.
    var startTime = document.getElementById('start-time');
    var endTime = document.getElementById('end-time');

    var startUtc = startTime.innerHTML;
    var endUtc = endTime.innerHTML;

    startTime.innerHTML = new Date(startUtc).toLocaleString();
    endTime.innerHTML = new Date(endUtc).toLocaleString();
