title Habitica &VerticalLine;&nbsp;
  =t('maintenance')

head
  link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css')

body
  .container
    h1=t('maintenanceInfoTitle')
    h2=t('maintenanceInfoWhat')
    p!=t('maintenanceInfoWhatText')
    h2=t('maintenanceInfoWhy')
    p=t('maintenanceInfoWhyText')
    p!=t('maintenanceInfoTechDetails')
    h2=t('maintenanceInfoMore')
    h3=t('maintenanceInfoAccountChanges')
    p!=t('maintenanceInfoAccountChangesText')
    h3=t('maintenanceInfoAddFeatures')
    p=t('maintenanceInfoAddFeaturesText')
    h3=t('maintenanceInfoHowLong')
    p!=t('maintenanceInfoHowLongText', {localStartTime: '<span id="start-time">' + maintenanceStart + '</span>', localEndTime: '<span id="end-time">' + maintenanceEnd + '</span>'})
    h3=t('maintenanceInfoStatsAffected')
    p=t('maintenanceInfoStatsAffectedText1')
    p=t('maintenanceInfoStatsAffectedText2')
    h3=t('maintenanceInfoSeeTasks')
    p=t('maintenanceInfoSeeTasksText')
    h3=t('maintenanceInfoRarePet')
    p=t('maintenanceInfoRarePetText')
    h3=t('maintenanceInfoWho')
    p=t('maintenanceInfoWhoText')

  script.
    var startTime = document.getElementById('start-time');
    var endTime = document.getElementById('end-time');

    var startUtc = startTime.innerHTML;
    var endUtc = endTime.innerHTML;

    startTime.innerHTML = new Date(startUtc).toLocaleString();
    endTime.innerHTML = new Date(endUtc).toLocaleString();
