extends ./layout

// Merchandise page : when adding a merch make sure to add following resources
  + image of merchandise  --   env.t("merch-*-name").png       -- eg. teespring.png
  + logo of seller        --   env.t("merch-*-name")-logo.png  -- eg. teespring-logo.png
  + update merch.json with extra info about merchandise
    - merch-*-name     ->  Teespring
    - merch-*-summary  ->  Teespring is and will always be...
    - merch-*-link     ->  https://teespring.com/habitica-gryphon-t-shirt | link to the merchandise not the seller
    - merch-*-goto     ->  Get myself a Habitica T-Shirts

block vars
  - var layoutEnv = env
  - var merchNumbers = 2 // update the amount of merchandise attributes that are available

block title
  title=env.t('merch')

block content
  .row
    .col-md-12
      .page-header
        h3=env.t('merch')


  // Merchandise block - START
  - for (var i = 1; i <= merchNumbers; ++i) {
  if i % 2 !== 0
    .row=test
  .col-lg-6.col-md-6.col-sm-12
    .merch-block
      div.merch-header: img(src="/merch/" + env.t('merch-' + i + '-name') + "-logo.png")
      div.merch-img-con: a(href=env.t('merch-' + i + '-link') target='_blank'): img.img-rendering-auto.merch-img(src="/merch/" + env.t('merch-' + i + '-name') + ".png")
      p=env.t('merch-' + i + '-summary')
      a.btn.btn-habitica.merch-link(href=env.t('merch-' + i + '-link') target='_blank')=env.t('merch-' + i + '-goto')
  -}
  // Merchandise block - END
