extends ./layout

// Merchandise page : when adding a merchandise make sure to add following resources
  + image of merchandise -- eg. teespring.png
  + logo of merchant     -- eg. teespring-logo.png
  + update merch.json with extra info about merchandise
    - merch-*-summary    -> Teespring is and will always be...
    - merch-*-goto       -> Get myself a Habitica T-Shirts
  + update this page with an extra merchant (var merchants)
    - name
    - link
    - image
    - logo
    eg. -> merchants.push({name: 'Teespring', link: 'https://teespring.com/habitica-gryphon-t-shirt', image: 'teespring.png', logo: 'teespring-logo.png'})

block vars
  - var layoutEnv = env

  - var merchants = []
  - merchants.push({name: 'Teespring', link: 'https://teespring.com/habitica-gryphon-t-shirt', image: 'teespring.png', logo: 'teespring-logo.png'})
  - merchants.push({name: 'Stickermule', link: 'https://teespring.com/habitica-gryphon-t-shirt', image: 'stickermule.png', logo: 'stickermule-logo.png'})

block title
  title=env.t('merch')

block content
  .row
    .col-md-12
      .page-header
        h3=env.t('merch')

  // Merchandise block - START
  each item, index in merchants
    if (index+1) % 2 !== 0
      .row

    .col-lg-6.col-md-6.col-sm-12
      .merch-block
        div.merch-header: img(src="/merch/" + "#{item.logo}")
        div.merch-img-con: a(href="#{item.link}" target='_blank'): img.img-rendering-auto.merch-img(src="/merch/" + "#{item.image}")
        p=env.t('merch-' + index + '-summary')
        a.btn.btn-habitica.merch-link(href="#{item.link}" target='_blank')=env.t('merch-' + index + '-goto')
  // Merchandise block - END
