extends ./layout

block vars
  - var layoutEnv = env
  - var menuItem = 'pressKit'

block title
  title= env.t('presskit')

block extraHead
  style.
    .press-img {
      max-width: 500px;
    }

block content
  h2= env.t('presskit')
  p= env.t('presskitText')
  p= env.t('presskitDownload')
    | &nbsp;
    a.btn.btn-success(href='/presskit/presskit.zip') presskit.zip
  -
    var imgs = [
      'Habitica Promo/Promo',
      'Habitica Promo/Promo - Thin',
      'Habitica Logo/Icon with Text',
      'Habitica Logo/Text',
      'Habitica Logo/Icon',
      'Habitica Logo/iOS',
      'Habitica Logo/Android',
      'Habitica Gryphon',
      'Boss/Basi-List',
      'Boss/Stagnant Dishes',
      'Boss/SnackLess Monster',
      'Boss/Laundromancer',
      'Boss/Battling the Ghost Stag',
      'Boss/Necro-Vice',
      'World Boss - Dread Drag\'on of Dilatory',
      'Sample Screen/Website - Tasks Page',
      'Sample Screen/Website - Market',
      'Sample Screen/Website - Equipment',
      'Sample Screen/Website - Guilds',
      'Sample Screen/Website - Challenges',
      'Sample Screen/iOS - Tasks Page',
      'Sample Screen/iOS - Level Up',
      'Sample Screen/iOS - Pets',
      'Sample Screen/iOS - Party',
      'Sample Screen/iOS - Boss',
      'Sample Screen/Android - Tavern',
      'Sample Screen/Android - Tasks Page',
      'Sample Screen/Android - Reward',
      'Sample Screen/Android - Level Up',
      'Sample Screen/Android - Tavern',
      'Sample Screen/Android - Party',
    ]

  //-#carousel.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      each img, i in imgs
        li(class=i==0?'active':'', data-target='#carousel', data-slide-to=i)
    .carousel-inner(role='listbox')
      each img, i in imgs
        .item(class=i==0?'active':'')
          img(src="/presskit/#{img}.png")
          //.carousel-caption=img
    a.left.carousel-control(href='#carousel', role='button', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
      span.sr-only= env.t('previous')
    a.right.carousel-control(href='#carousel', role='button', data-slide='next')
      span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
      span.sr-only= env.t('next')

  ul.list-unstyled
    each img in imgs
      li
        img.img-rendering-auto.press-img(src="/presskit/#{img}.png")
