extends ./layout

block vars
  - var layoutEnv = env
  - var menuItem = 'pressKit'

block title
  title= env.t('presskit')

block extraHead
  style.
    .press-img {
      max-width: 500px;
    }

block content
  h2= env.t('presskit')
  p= env.t('presskitText')
  p= env.t('presskitDownload')
    | &nbsp;
    a.btn.btn-success(href='/presskit/presskit.zip') presskit.zip
  - var imgs = ['habitrpg_pixel', 'HabitRPGdevices', 'Market Sample Screen', 'Challenges Sample Screen', 'Equipment Sample Screen', 'Guilds Sample Screen', 'HabitRPGPromoPostCard6', 'HabitRPGPromoThin', 'Laundromancer_by_Arcosine', 'promo mobile inventorySTILL1', 'promo mobile inventorySTILL2', 'PROMOdevices2', 'SnackLessMonster_by_Arcosine', 'stag_battle_by_leephon', 'stagnant_dishes_by_kiwibot', 'vice_reborn_by_baconsaur']

  //-#carousel.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      each img, i in imgs
        li(class=i==0?'active':'', data-target='#carousel', data-slide-to=i)
    .carousel-inner(role='listbox')
      each img, i in imgs
        .item(class=i==0?'active':'')
          img(src="/presskit/#{img}.png")
          //.carousel-caption=img
    a.left.carousel-control(href='#carousel', role='button', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
      span.sr-only= env.t('previous')
    a.right.carousel-control(href='#carousel', role='button', data-slide='next')
      span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
      span.sr-only= env.t('next')

  ul.list-unstyled
    each img in imgs
      li
        img.img-rendering-auto.press-img(src="/presskit/#{img}.png")
