<%= form_for(@habit) do |f| %>
  <% if @habit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@habit.errors.count, "error") %> prohibited this habit from being saved:</h2>

      <ul>
      <% @habit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.select :habit_type, options_for_select([['Always',1], ['Daily',2], ['One-time',3]]) %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :weight %><br />
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :tag %><br />
    <%= f.text_field :tag %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
