<li id="habit_<%= habit.id %>" class="habit <%= score_color(habit) %>">
  <% if habit.habit_type==Habit::ALWAYS %>
    <%= vote_link(habit, 'up') %>
    <%= vote_link(habit, 'down') %>
    <%= habit.name %>
  <% elsif habit.habit_type==Habit::DAILY %>
    <% if habit.done %>
      <%= vote_link(habit, 'checked') %>
      <strike><%= habit.name %></strike>
    <% else %>
      <%= vote_link(habit, 'unchecked') %>
      <%= habit.name %>
    <% end %>
  <% end %>
  <%= link_to 'Edit', edit_habit_path(habit), :class=>'edit' %>
</li>
