<% content_for :score do %>
  <%= render :partial => "progressbar", :locals => { :score => @score } %>
<% end %>


<%= link_to 'New Habit', new_habit_path %>

<table id="layout">
  <tr>
    <td class="panel">
      <div class="block">
        <div class='content'>
          <h2 class='title'>Habits</h2>
          <div class='inner'>
            <ul id="habits">
            <% @habits.each do |habit| %>
              <%= render :partial => "habit", :locals => { :habit => habit } %>
            <% end %>
            </ul>
          </div>
        </div>
      </div>
    </td>
    
    <td class="panel">
      <div class="block">
        <div class='content'>
          <h2 class='title'>Daily</h2>
          <div class='inner'>
            <ul id="daily">
            <% @daily.each do |habit| %>
              <%= render :partial => "habit", :locals => { :habit => habit } %>
            <% end %>
            </ul>
          </div>
        </div>
      </div>
    </td>
    
    <td class="panel">
      <div class="block">
        <div class='content'>
          <h2 class='title'>Store
            <div id="money">
              <%= @score %><%= image_tag('coin_single_gold.png') %>
              <%= @score %><%= image_tag('coin_single_silver.png') %>
            </div>
          </h2>
          <div class='inner'>
          </div>
        </div>
      </div>
    </td>
  </tr>
</table>
