<%= link_to 'New Habit', new_habit_path %>

<table id="layout">
  <tr>
    <td class="panel">
      <div class="block">
        <div class='content'>
          <h2 class='title'>Habits</h2>
          <div class='inner'>
            <ul id="habits">
            <% @habits.each do |habit| %>
              <%= render :partial => "habit", :locals => { :habit => habit } %>
            <% end %>
            </ul>
          </div>
        </div>
      </div>
    </td>
    
    <td class="panel">
      <div class="block">
        <div class='content'>
          <h2 class='title'>Daily</h2>
          <div class='inner'>
            <ul id="daily">
            <% @daily.each do |habit| %>
              <%= render :partial => "habit", :locals => { :habit => habit } %>
            <% end %>
            </ul>
          </div>
        </div>
      </div>
    </td>

    <td class="panel">
      <div class="block">
        <div class='content'>
          <h2 class='title'>One-offs</h2>
          <div class='inner'>
            <ul id="daily">
            <% @one_time.each do |habit| %>
              <%= render :partial => "habit", :locals => { :habit => habit } %>
            <% end %>
            </ul>
          </div>
        </div>
      </div>
      <%= link_to 'View Completed', :action=>'completed' %>
    </td>
    
    <td class="panel">
      <div class="block">
        <div class='content'>
          <h2 class='title'>Rewards
            <%= render 'money'%>
          </h2>
          <div class='inner'>
            <% @rewards.each do |reward| %>
              <li id="reward_<%= reward.id %>" class="reward">
                <%= link_to(image_tag('dollar.png'), { :controller=>"reward", :action => "buy", :id => reward.id }, :remote=>true) %>
                <%= reward.name %>
                <div class='edit'>
                  <%= link_to 'Edit', edit_reward_path(reward) %>
                </div>
              </li>
            <% end %>
          </div>
        </div>
      </div>
      <%= link_to 'New Reward', new_reward_path %>
    </td>
  </tr>
</table>
