<!DOCTYPE html>
<html>
<head>
  <title>HabitTracker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <% #TODO This should be available via jquery-ui, what's going on? %>
  <%= javascript_include_tag "jquery-ui.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
